---
layout: default
title: Zan | Blog
description: Blog list containing long-text.pdf
og-title: Blog Post Hub
og-type: blog
nav-more: true
---
<main>
  <section class="wrapper border" tabindex="-1" id="main">

    <h1>Blog Posts</h1>
    
    <p><span class="notice">Notice!</span> These links will redirect you to old site.</p>

    <ol class="blog-lists">
      {% assign blogs = site.blog | sort:"order" %}
      {% for blog in blogs %}
        <li class="blog-list">
          <a href="{{ blog.url }}" target="_blank">{{ blog.title-short }}</a>
          <p>{{ blog.description }}</p>
        </li>
      {% endfor %}
    </ol>

  </section>
  {% include page-wip.html %}
</main>