---
layout: default
title: Zan | File
description: Windows customization and other project for downloads.
og-title: File Repository
og-type: download
nav-more: true
custom-css: /styles/file-cursor.css
---
<main>
  <section class="wrapper border bg-color" tabindex="-1" id="main">

    <h1>Files</h1>

    <p>Welcome to the file repository page. All things listed in here are free for <span class="warning">PERSONAL</span> use, unless stated otherwise. If there's any broken link, please contact me so I can fix it as soon as possible.</p>
    <p>Files are served on Github by default. Bigger stuff (more than 10mb) will be served externally. Archived file has instruction attached to help you out. Otherwise you're on your own :3</p>
  
  </section>

  <!-- ! @main # CSOS MAIN -->
  <section class="wrapper wrapper--CSOS CSOS-root">
    <p class="notice mobile-only">This section is not built for mobile &/ cursor-less device! Sorry~!</p>
    <!-- * Core States -->
    <input type="checkbox" id="CSOS-start-menu-state" tabindex="-1">

    <!-- * Orb States -->
    <!-- <input type="radio" name="CSOS-current-orb" class="CSOS-orb-basic" tabindex="-1" id="CSOS-orb-state-default"> -->
    {% for orb-lists in site.data.file.orb.list %}
    {% assign orb = orb-lists[1] %}
    <input type="radio" name="CSOS-current-orb" {% if orb.basic %}class="CSOS-orb-basic"{% endif %}tabindex="-1" id="CSOS-orb-state-{{ orb.name }}" {% if orb.default %}checked{% endif %}>
    {% endfor %}

    <!-- * Cursor States -->
    <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-default" checked>
    {% for cursor-lists in site.data.file.cursor.list %}
    {% assign cursor = cursor-lists[1] %}
    <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-{{ cursor.name }}">
    {% endfor %}

    <!-- * BG States -->
    <!-- ermm idk why i didn't data drive this, oh well! -->
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-b">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-w">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-1" checked>
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-2">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-3">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-4">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-5">
    <input type="radio" name="CSOS-current-bg" tabindex="-1" id="CSOS-bg-state-6">
    <!-- Size Selector -->
    <input type="radio" name="CSOS-bg-s" id="CSOS-bg-s-raw" tabindex="-1">
    <input type="radio" name="CSOS-bg-s" id="CSOS-bg-s-contain" tabindex="-1">
    <input type="radio" name="CSOS-bg-s" id="CSOS-bg-s-cover" tabindex="-1" checked>
    <input type="radio" name="CSOS-bg-r" id="CSOS-bg-r-true" tabindex="-1">
    <input type="radio" name="CSOS-bg-r" id="CSOS-bg-r-false" tabindex="-1" checked>

    <!-- * Window States -->
    <input type="checkbox" id="CSOS-win-v-busycorner" tabindex="-1">

    <!-- ! CSOS Content -->
    <div class="CSOS-container">
      <!-- @section . Desktop/canvas -->
      <div class="CSOS-canvas">

        <!-- Rumia stress ball -->
        <div class="CSOS-resizable" style="--scrollbar-size:180px;">
          <div class="CSOS-resizable-anchor">
            <div class="CSOS-resizable-content" style="width: 244px; left: -32px; top: -32px; pointer-events: none;">
              <img src="/file/rumia-alt__px.gif" class="decor" alt="">
            </div>
          </div>
          <div class="CSOS-resizable-controller" style="width: 180px; height: 9999px;"></div>

          <div class="CSOS-resizable-dummy"></div>
          <div class="CSOS-resizable-dummy"></div>
        </div>

        <!-- Busy tester Window -->
        <div class="CSOS-window" id="CSOS-win-busycorner" style="bottom: unset; left: unset;">
          <div class="CSOS-win-topbar">
            <div class="CSOS-win-topbar__title">Busy Corner</div>
            <label for="CSOS-win-v-busycorner" class="CSOS-win-topbar__button minimize"></label>
            <div class="CSOS-win-topbar__button maximize dim"></div>
            <div class="CSOS-win-topbar__button close dim"></div>
          </div>

          <div class="CSOS-win-container">
            <div class="CSOS-cWait"><span>Wait!!!</span></div>
            <div class="CSOS-cBusy"><span>⚠ Busy ⚠</span></div>
          </div>
        </div>

        <!--! Start Menu Container -->
        <div class="CSOS-start-menu">
          
          <!-- ? Controller -->
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-0" checked>
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-1">
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-2">
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-3">
          
          <!-- ? Menu Select -->
          <div class="CSOS-start-menu-menus">
            <div class="CSOS-start-menu-menu" id="start-select-orb">
              <label for="CSOS-start-content-1"><span>Orb Select</span></label>
            </div>
            <div class="CSOS-start-menu-menu" id="start-select-cursor">
              <label for="CSOS-start-content-2"><span>Cursor Select</span></label>
            </div>
            <div class="CSOS-start-menu-menu" id="start-select-bg">
              <label for="CSOS-start-content-3"><span>Background Select</span></label>
            </div>
          </div>

          <!-- ? @section . . Start Menu Content -->
          <div class="CSOS-start-menu-content CSOS-start-home">
            <div class="CSOS-start-menu-content__title center"><span>&gt; CSOS &lt;</span></div>
            <p>Welcome to the Cascading Style Operating System or CSOS. This is a one-stop corner for (Windows) customization! The "OS" or sandbox restriction is as terrible as you might expect but it's servicable as long as you have a mouse pointer to navigate the sandbox.</p>
            <div class="notice"><span class="CSOS-cText">Non-Chromium/webkit user will have a feature locked, which is larger draggable Rumia hitbox. If you are such user, try sneaking your cursor to one of the element's edge!</span></div>
          </div>

          <!-- ? ORB -->
          <div class="CSOS-start-menu-content CSOS-start-orb">
            <div class="CSOS-start-menu-content__title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>-ORB-</span>
              <div class="CSOS-start-menu-hint" tabindex="-1">
                <div class="CSOS-start-menu-hint__content">
                  <p>These are Start Orb customization file. Windows don't really allow you to customize it so you have to use 3rd party program for it.</p>
                  <hr class="separator no-margin"> <!-- using styled separator since we want to keep the cursor change within the text (we change p to inline). BR doesn't work in Chrome somehow -->
                  <p>"OSM" links are for <a href="https://github.com/Open-Shell/Open-Shell-Menu">Open-Shell Menu</a> with added in-between frame. The sandbox prioritize this version for the preview!</p>
                </div>
              </div>
            </div>
            {% for orb-lists in site.data.file.orb.list %}
            {% assign orb = orb-lists[1] %}
            <div class="CSOS-start-orb-button" id="CSOS-div-orb-{{ orb.name }}">
              <label for="CSOS-orb-state-{{ orb.name }}" class="CSOS-start-orb-list">{{ orb.name }}</label>
              {% if orb.preview %}
              <div class="CSOS-start-orb-preview">
                <img src="{{ orb.preview }}" alt="" loading="lazy">
              </div>
              {% endif %}
              {% if orb.link-openshell %}
              <div class="CSOS-start-orb-download openshell">
                <a href="{{ orb.link-openshell }}" download>OSM</a>
              </div>
              {% endif %}
              {% if orb.link-generic %}
              <div class="CSOS-start-orb-download generic">
                <a href="{{ orb.link-generic }}" download>LINK</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>

          <!-- ? CURSOR -->
          <div class="CSOS-start-menu-content CSOS-start-cursor">
            <div class="CSOS-start-menu-content__title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>Change Cursor</span>
              <div class="CSOS-start-menu-hint" tabindex="-1">
                <div class="CSOS-start-menu-hint__content">
                  <p>Clicky companion~! You will be able to test out the cursor in this sandbox, sans the Rumia element since that has jank mechanics.</p>
                  <hr class="separator no-margin">
                  <p>Changing new cursor will have slight delay since we're downloading all frames individually! The star rating is my creator satisfaction with the result in hindsight! Lots of 2's eh?</p>
                </div>
              </div>
            </div>
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-default"><label for="CSOS-cursor-state-default" class="CSOS-start-cursor-list">@default</label></div>
            {% for cursor-lists in site.data.file.cursor.list %}
            {% assign cursor = cursor-lists[1] %}
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-{{ cursor.name }}">
              <label for="CSOS-cursor-state-{{ cursor.name }}" class="CSOS-start-cursor-list">{% if cursor.icon %}<img src="{{ cursor.icon }}">{% endif %}{{ cursor.name }}<span>{{ cursor.rating }}</span></label>
              {% if cursor.preview %}
              <div class="CSOS-start-cursor-preview">
                <img src="{{ cursor.preview }}" alt="" loading="lazy">
              </div>
              {% endif %}
              {% if cursor.link-github %}
              <div class="CSOS-start-cursor-download">
                <a href="{{ cursor.link-github }}">LINK</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>

          <!-- ? BG -->
          <div class="CSOS-start-menu-content CSOS-start-bg">
            <div class="CSOS-start-menu-content__title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>Change Background</span>
            </div>
            <div class="CSOS-start-bg-buttons controller">
              <div class="CSOS-start-bg-control">
                <span>Size: </span>
                <label for="CSOS-bg-s-raw">Raw</label>
                <label for="CSOS-bg-s-contain">Contain</label>
                <label for="CSOS-bg-s-cover">Cover</label>
              </div>
              <div class="CSOS-start-bg-control">
                <span>Repeat: </span>
                <label for="CSOS-bg-r-false">No-Repeat</label>
                <label for="CSOS-bg-r-true">Repeat</label>
              </div>
            </div>
            <div class="CSOS-start-bg-buttons bg-selector">
              <div class="CSOS-start-bg-button selection-b">
                <label for="CSOS-bg-state-b"></label>
              </div>
              <div class="CSOS-start-bg-button selection-w">
                <label for="CSOS-bg-state-w"></label>
              </div>
              <hr class="br-flex">

              <div class="CSOS-start-bg-button selection-1">
                <img src="/file/wallpaper-yama__px.png" alt="" loading="lazy">
                <label for="CSOS-bg-state-1"></label>
              </div>
              <div class="CSOS-start-bg-button selection-2">
                <img src="/img/gallery/touhou_marisa__px.png" alt="" loading="lazy">
                <label for="CSOS-bg-state-2"></label>
              </div>
              <hr class="br-flex">

              <div class="CSOS-start-bg-button selection-3">
                <img src="/img/gallery/touhou_grassroot2__px.gif" alt="" loading="lazy">
                <label for="CSOS-bg-state-3"></label>
              </div>
              <div class="CSOS-start-bg-button selection-4">
                <img src="/img/gallery/touhou_youmu2__px.gif" alt="" loading="lazy">
                <label for="CSOS-bg-state-4"></label>
              </div>
              <hr class="br-flex">
              
              <div class="CSOS-start-bg-button selection-5">
                <img src="/img/gallery/oc_16x16sprite__px.png" alt="" loading="lazy">
                <label for="CSOS-bg-state-5"></label>
              </div>
              <div class="CSOS-start-bg-button selection-6">
                <img src="/img/gallery/touhou_youmu3__px.png" alt="" loading="lazy">
                <label for="CSOS-bg-state-6"></label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- @section . Taskbar -->
      <div class="CSOS-taskbar">
        <label for="CSOS-start-menu-state" class="CSOS-start-menu-bar">
          <div class="CSOS-start-orb-bar"></div>
          <div class="CSOS-start-orb-bar active"></div>
        </label>
        <label for="CSOS-win-v-busycorner" class="CSOS-window-bar">Busy Corner</label>
        <div class="CSOS-start-time-bar"><span>xx:xx</span></div>
      </div>
    </div>
  </section>

  <!-- ! Misc Corner -->
  <section class="wrapper no-padding">
    <h2 class="title-full" style="background-color: var(--clr-btn-download);">Misc.</h2>
    <section class="wrapper border bg-color no-overflow">
      {% assign vtuber = site.data.file.vtuber.list %}
      <div class="headshot headshot--float-left headshot--pos-first" style="--headshot-size: 256px; image-rendering: auto;">
        <img src="{{ vtuber.illith.preview }}" alt="">
      </div>
      <h3>VTuber Model - {{ vtuber.illith.name }}</h3>
      <p class="caption">"Smells outdated..."</p>
      <p>My first VTuber model rig attempt with Live2D Cubism. <a href="/blog/create-live2d">Blog Post</a> for details. Quality is questionable so don't count on it.</p>
      <p>Free to use, modify, and distribute this work except for AI use. Crediting me is optional but appreciated.</p>
      <a href="{{ vtuber.illith.link-dropbox }}" target="_blank" class="file-download-button no-select">Dropbox</a>
      <a href="{{ vtuber.illith.link-gdrive }}" target="_blank" class="file-download-button no-select">GDrive</a>
    </section>
  </section>

</main>