---
layout: default
title: Zan | File
description: Windows customization and other project for downloads.
og-title: File Repository
og-type: download
nav-more: true
custom-css: /styles/file-cursor.css
---
<main>
  <section class="wrapper border bg-color" tabindex="-1" id="main">

    <h1>Files</h1>

    <p>Welcome to the file repository page. All things listed in here are free for <span class="warning">PERSONAL</span> use, unless stated otherwise. If there's any broken link, please contact me so I can fix it as soon as possible.</p>
    <p>Files are served on Github by default. Bigger stuff (more than 10mb) will be served externally. Archived file has instruction attached to help you out. Otherwise you're on your own :3</p>
  
  </section>

  <!-- @main # CSOS MAIN -->
  <section class="wrapper wrapper--CSOS CSOS-root">
    
    <!-- * Core States -->
    <input type="checkbox" id="CSOS-start-menu-state" tabindex="-1">

    <!-- * Orb States -->
    <!-- <input type="radio" name="CSOS-current-orb" class="CSOS-orb-basic" tabindex="-1" id="CSOS-orb-state-default"> -->
    {% for orb-lists in site.data.file.orb.list %}
    {% assign orb = orb-lists[1] %}
    <input type="radio" name="CSOS-current-orb" {% if orb.basic %}class="CSOS-orb-basic"{% endif %}tabindex="-1" id="CSOS-orb-state-{{ orb.name }}" {% if orb.default %}checked{% endif %}>
    {% endfor %}

    <!-- * Cursor States -->
    <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-default" checked>
    {% for cursor-lists in site.data.file.cursor.list %}
    {% assign cursor = cursor-lists[1] %}
    <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-{{ cursor.name }}">
    {% endfor %}

    <!-- * BG States -->

    <!-- * Window States -->
    <input type="checkbox" id="CSOS-win-v-busycorner" tabindex="-1">

    <!-- ! MAIN CONTENT -->
    <div class="CSOS-container">
      <!-- @section . Desktop/canvas -->
      <div class="CSOS-canvas">

        <div class="CSOS-window" id="CSOS-win-busycorner" style="bottom: unset; left: unset;">
          <div class="CSOS-win-topbar">
            <div class="CSOS-win-topbar--title">Busy Corner</div>
            <label for="CSOS-win-v-busycorner" class="CSOS-win-topbar--button minimize"></label>
            <div class="CSOS-win-topbar--button maximize dim"></div>
            <div class="CSOS-win-topbar--button close dim"></div>
          </div>

          <div class="CSOS-win-container">
            <div class="CSOS-cWait"><span>Wait!!!</span></div>
            <div class="CSOS-cBusy"><span>⚠ Busy ⚠</span></div>
          </div>
        </div>

        <div class="CSOS-resizable" style="--scrollbar-size:180px;">
          <div class="CSOS-resizable-anchor">
            <div class="CSOS-resizable-content" style="width: 244px; left: -32px; top: -32px; pointer-events: none;">
              <img src="/img/file/rumia-alt__px.gif" class="decor" alt="">
            </div>
          </div>
          <div class="CSOS-resizable-controller" style="width: 180px; height: 9999px;"></div>

          <div class="CSOS-resizable-dummy"></div>
          <div class="CSOS-resizable-dummy"></div>
        </div>

        <div class="CSOS-start-menu">
          
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-0" checked>
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-1">
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-2">
          <input type="radio" name="CSOS-start-menu-select" tabindex="-1" id="CSOS-start-content-3">
          
          <!-- ? Controller -->
          <div class="CSOS-start-menu-menus">
            <div class="CSOS-start-menu-menu" id="start-select-orb">
              <label for="CSOS-start-content-1"><span>Orb Select</span></label>
            </div>
            <div class="CSOS-start-menu-menu" id="start-select-cursor">
              <label for="CSOS-start-content-2"><span>Cursor Select</span></label>
            </div>
            <div class="CSOS-start-menu-menu" id="start-select-bg">
              <label for="CSOS-start-content-3"><span>Background Select</span></label>
            </div>
          </div>

          <!-- ? @section . . Start Menu Content -->
          <div class="CSOS-start-menu-content CSOS-start-home">
            <div class="CSOS-start-menu-content--title center"><span>&gt; CSOS &lt;</span></div>
            <p>Welcome to the Cascading Style Operating System or CSOS. This is a one-stop corner for (windows) customization! The "OS" or sandbox restriction is as terrible as you might expect but it's servicable as long as you have a mouse pointer to navigate the sandbox.</p>
            <div class="notice"><span class="CSOS-cText">Non-Chromium/webkit user will have a feature locked, which is larger draggable Rumia hitbox. If you are such user, try sneaking your cursor to one of the element's edge!</span></div>
          </div>
          <!-- ? ORB -->
          <div class="CSOS-start-menu-content CSOS-start-orb">
            <div class="CSOS-start-menu-content--title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>-ORB-</span>
            </div>
            <div class="notice"><span class="CSOS-cText">"OSM" links are for <a href="https://github.com/Open-Shell/Open-Shell-Menu">Open-Shell Menu</a> with added in-between frame. This sandbox prioritize this version for the preview!</span></div>
            {% for orb-lists in site.data.file.orb.list %}
            {% assign orb = orb-lists[1] %}
            <div class="CSOS-start-orb-button" id="CSOS-div-orb-{{ orb.name }}">
              <label for="CSOS-orb-state-{{ orb.name }}" class="CSOS-start-orb-list">{{ orb.name }}</label>
              {% if orb.preview %}
              <div class="CSOS-start-orb-preview">
                <img src="{{ orb.preview }}" alt="" loading="lazy">
              </div>
              {% endif %}
              {% if orb.link-openshell %}
              <div class="CSOS-start-orb-download openshell">
                <a href="{{ orb.link-openshell }}" download>OSM</a>
              </div>
              {% endif %}
              {% if orb.link-generic %}
              <div class="CSOS-start-orb-download generic">
                <a href="{{ orb.link-generic }}" download>LINK</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <!-- ? CURSOR -->
          <div class="CSOS-start-menu-content CSOS-start-cursor">
            <div class="CSOS-start-menu-content--title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>Change Cursor</span>
            </div>
            <div class="notice"><span class="CSOS-cText">Changing new cursor might take a bit since we're downloading all frames individually.</span></div>
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-default"><label for="CSOS-cursor-state-default" class="CSOS-start-cursor-list">@default</label></div>
            {% for cursor-lists in site.data.file.cursor.list %}
            {% assign cursor = cursor-lists[1] %}
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-{{ cursor.name }}">
              <label for="CSOS-cursor-state-{{ cursor.name }}" class="CSOS-start-cursor-list">{% if cursor.icon %}<img src="{{ cursor.icon }}">{% endif %}{{ cursor.name }}<span>{{ cursor.rating }}</span></label>
              {% if cursor.preview %}
              <div class="CSOS-start-cursor-preview">
                <img src="{{ cursor.preview }}" alt="" loading="lazy">
              </div>
              {% endif %}
              {% if cursor.link-github %}
              <div class="CSOS-start-cursor-download">
                <a href="{{ cursor.link-github }}">LINK</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <!-- ? BG -->
          <div class="CSOS-start-menu-content CSOS-start-bg">
            <div class="CSOS-start-menu-content--title">
              <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
              <span>Change Background</span>
            </div>
            <p>Under construction! (aka wip unless worked otherwise) since it's a fluff and time-waster of a content, very cool!</p>
          </div>

        </div>
      </div>
      <!-- @section . Taskbar -->
      <div class="CSOS-taskbar">
        <label for="CSOS-start-menu-state" class="CSOS-start-menu-bar">
          <div class="CSOS-start-orb-bar"></div>
          <div class="CSOS-start-orb-bar active"></div>
        </label>
        <label for="CSOS-win-v-busycorner" class="CSOS-window-bar">Busy Corner</label>
        <div class="CSOS-start-time-bar"><span>xx:xx</span></div>
      </div>
    </div>
  </section>

  <hr class="separator huge">

</main>