---
layout: default
title: Zan | Gallery
description: Gallery of pixel art, animation, and raster drawings.
og-title: Gallery
og-type: gallery
---
<main>
  <section class="wrapper border" tabindex="-1" id="main">
    <div class="headshot headshot--float-left headshot--pos-first">
      <img src="/img/illith.png" alt="">
    </div>
    <h1>Gallery Page</h1>
    <p class="caption desktop-only">Click media for full view!</p>
    <p class="caption mobile-only">Tap media for full view!</p>
    <p style="display: inline;">Welcome to the gallery, have a look around~ These are about half of my creator's art in total. Pretty disappointing number, isn't it? I already ran out of space to talk...</p>
    <div class="tooltip tooltip--click-only" tabindex="0">
      <span>Let's exploit this feature.</span>
      <!-- Illith Corner -->
      <div class="tooltip-content tooltip-content--wide font-alternative" style="z-index: 8;">
        <h2 class="title-full title-full--no-bg" style="padding: 0;">The Ill-Worded Corner</h2>
        <p class="caption center">"Consolas is indeed superior!"</p>
        <hr>
        <p>Hello and welcome again. I suppose introduction is in order as you will encounter me a lot in the future.</p>
        <p>Ehem, my assigned name is Illith. I'm the mascot of this website. I'm currently not out on your face as much as I'd like to be, but my creator is working on it.</p>
        <p>Back at the old site, I used to dynamically rant about stuff in the gallery when you change categories. Now I'm, understandably, banned from doing that. Text distract viewer from actually receiving the main content of this page, in my creator opinion. Just like you who's reading this instead of looking at fancy pictures.</p>
        <p>Don't you worry, the majority of my role is to be a cute little companion sprite, no wall of text other than this li'l corner. Once all the essential things are built, this "tooltip" will be evicted to somewhere more appropriate.</p>
        <p>That's all for now. Fun janky fact, the reason why I ran out of text space is that, if your screen height isn't large enough, during the tab transition if it doesn't touch the top of the viewport, it will scroll you on the way down automagically, lol. It's rare but if it happen, it sucks a lot.</p>
      </div>
    </div>
  </section>
  <div class="wrapper wrapper--no-padding">
    <input id="gallery-tab-state-1__page-1_sys" name="gallery-tab-states" type="radio">
    <input id="gallery-tab-state-1__page-2_sys" name="gallery-tab-states" type="radio">
    <input id="gallery-tab-state-2_sys" name="gallery-tab-states" type="radio" checked>
    <input id="gallery-tab-state-3_sys" name="gallery-tab-states" type="radio">
    <div class="gallery-tab-buttons">
      <div class="gallery-tab-button" data-btn-anim="parent">
        <label for="gallery-tab-state-1__page-1_sys" class="gallery-tab-button" data-btn-anim="sub-1">Page 1</label>
        <label for="gallery-tab-state-1__page-1_sys" class="gallery-tab-button" data-btn-anim="main">Animation</label>
        <label for="gallery-tab-state-1__page-2_sys" class="gallery-tab-button" data-btn-anim="sub-2">Page 2</label>
      </div>
      <label for="gallery-tab-state-2_sys" class="gallery-tab-button">Pixelart</label>
      <label for="gallery-tab-state-3_sys" class="gallery-tab-button">Raster</label>
    </div>
    {% for sections in site.data.gallery %}
    {% assign section = sections[1] %}
    <section class="gallery-tab-content" id="{{ section.id }}">
      <div>
        <div class="gallery-lists">
          <h2 class="title-full margin">{{ section.name }}</h2>
          <div class="chrome-lazyload-enforcer"></div>
          {% for item in section.list %}
          <div class="gallery-list {{ item.position }} {{ item.size }} {{ item.align }} {{ item.background }} {{ item.custom-class }}" tabindex="0">
            {% if item.caption %}<p>{{ item.caption }}</p>{% endif %}
            <div class="gallery-image">
              <img {% unless item.no-lazy %}loading="lazy"{% endunless %} src="{{ item.link }}" alt="{{ item.name }}">
              {% if item.link-2 %}<img loading="lazy" class="gallery-image__alt" src="{{ item.link-2 }}" alt="Alternative image">{% endif %}
              <div class="gallery-image__link">
                {% if item.link-2 %}<a href="{{ item.link-2 }}" download tabindex="-1">Download Alt</a>{% endif %}
                <a href="{{ item.link }}" download tabindex="-1">Download</a>
              </div>
              <div class="gallery-close" tabindex="-1"></div>
            </div>
          </div>
          {% if item.last-item or item.size == "full" %}<hr class="br-flex">{% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% endfor %}
  </div> <!-- ! WRAPPER END -->
</main>
