---
layout: default
title: Zan | Home
description: Zan's art portfolio and stuff wrapped within pure HTML & CSS jank.
og-title: Zanster Website
og-type: website
---
<main>
  <!-- ! Main Header -->
  <section class="wrapper flow border-dash bg-color relative" tabindex="-1" id="main"> 
    <!-- Last rebuild text -->
    <a href="https://github.com/Kurover/kurover.github.io/commits/main/?{{ site.time | date: "%s" }}" target="_blank" rel="noopener" class="top-right-note" style="opacity: .25; font-size: 8px;">Last rebuild: {{ site.time | date_to_rfc822 }}</a>
    <!-- ! Profile System -->
    <input id="profile-headshot-1_sys" type="radio" name="profile-accordion" checked>
    <input id="profile-headshot-2_sys" type="radio" name="profile-accordion">
    <input id="profile-headshot-3_sys" type="radio" name="profile-accordion" class="profile-accordion-backdoor">
    <div class="headshot headshot-accordion headshot--pos-first headshot--float-left"> 
      <div class="headshot-accordion__images">
        <img src="/img/profile-picture-1--px.png" alt="">
        <img src="/img/profile-picture-2--px.png" alt="">
        <img src="/img/profile-picture-4--px.png" alt="">
      </div>
      <div class="headshot-accordion__toggle no-select">
        <label for="profile-headshot-1_sys">Main</label>
        <label for="profile-headshot-2_sys">Alt</label>
        <label for="profile-headshot-3_sys" class="invisible">Secret</label>
      </div>
    </div>
    <!-- ! Content Start -->
    <h1>Hello!</h1>
    <!-- ? Section 1 -->
    <div class="profile-headshot-section" data-target="1">
      <p class="caption">"Welcome, make yourself comfy!"</p>
      <p>My name is Zanster, sometimes
        <span class="tooltip" tabindex="0"><span class="tooltip-content">That being <u class="select-all">Kurover</u>. In rare case, <u class="select-all">Cloverift</u>, which is my Twitter handle.</span><span>other handle</span></span>.
      I mainly draw pixel art from <a href="https://en.touhouwiki.net" target="_blank" rel="noopener">Touhou Project (東方Project)</a>! Most of my presence are on <a href="https://twitter.com/Cloverift" target="_blank" rel="noopener">Twitter</a> and <a href="https://www.reddit.com/user/Kurover/" target="_blank" rel="noopener">Reddit</a>. For better response time, reach me via 
        <span class="tooltip" tabindex="0"><span class="tooltip-content center"><u class="select-all">kurover_zan</u> or <a href="https://discord.com/users/721010644756856883" target="_blank" rel="noopener">profile link</a>.</span><span>Discord</span></span>.
      This site also provides up to date artwork, including fixed version if any~</p>
    </div>
    <!-- ? Section 2 -->
    <div class="profile-headshot-section" data-target="2">
      {% include home-status.html %}
    </div>
    <!-- ? Section 3 -->
    <div class="profile-headshot-section" data-target="3">
      <p class="caption">"In the back of the alley, you pushed the handle on the wall."</p>
      <p>Welcome keyboard user, maybe reader mode, or you the elusive entity who don't have CSS on (source reader doesn't count), this is the secret corner! Ain't anything special, just a trimmed content I still keep in the page. I like secrets on place I visit, so I included this!</p>
      <p>There's still not much here, nor other secrets, that I can show (because it doesn't exist), at least not until I finished this damn website. It has been years since the first release. If I sit down and munch away the CSSes, I probably finish the baseline feature in about 3 months but of course I ain't got time to do that~! Although, I'm happy to say that I'm more than halfway there!</p>
      <p>If you haven't already, try clicking around Illith on Gallery. I'm sure it'll love it! Don't drag her though, it might not love it.</p>
    </div>

  </section>

  <!-- ! Sample -->
  <!-- Content is separated because HTML linting error due to liquid. You'll see this issue in other part as well. Setting up the formats in VSCode was not worth it so this is easier for me lol -->
  <section class="wrapper no-padding">
    {% include home-sample.html %}
  </section>

  <!-- ! Recent Blog -->
  <div class="wrapper no-padding home-blog-lists recent">
    <div class="home-blog-list blog">
      <h2>Recent Blog</h2>
      <ul>
        {% assign blogs = site.blog | where:"groups","blog" | reverse %}
        {% for blog in blogs limit: 2 %}
          <li class="blog-list">
            <a href="{{ blog.url }}">{{ blog.alias }}</a>
            <p tabindex="-1">{{ blog.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="home-blog-list">
      <h2>Recent Yap</h2>
      <ul>
        {% assign blogs = site.blog | where: "groups", "blog-post" | reverse %}
        {% for blog in blogs limit: 3 %}
        <li>
          <p><a href="{{ blog.url }}" class="tooltip-alt">{{ blog.title }}</a><span class="tooltip-alt-content">{{ blog.created-at }}</span></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="wrapper border bg-color">
    <p><span class="warning">[!]</span> The website is under major (re)construction! You can view <a href="https://github.com/Kurover/kurover.github.io/blob/main/Version-3.md" target="_blank" rel="noopener">V3 Notes</a> for what's being worked on and stuff. On the meantime, try looking at <a href="/gallery">Gallery</a> or check out <a href="/v2">old website</a>.</p>
  </div>

</main>

{% include warning-browser-outdated.html %}