html {
  font-family: 'Pixel04b03';
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
}
body {
  width: 92%;
  margin: auto;
  background: #0B0E0F
}

/*Nearest Neighbor upscaling for pixel-art based render*/
img {
  image-rendering: pixelated
}

/*Base Rule*/
a {
  text-decoration: none;
}
a:link {
  color: green;
}
a:visited {
  color: palevioletred;
}
a:hover {
  color: greenyellow;
}
a:active {
  color: darkslategray;
}
h1 {
  font-size: 32px;
  text-decoration: underline;
}
h1:first-child {
  margin: 0;
}
h2 {
  font-size: 24px;
  text-decoration: underline;
}
h2:first-child {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
/*Utility CSS*/
.hide {
  display: none;
}
.hidaraja {
  display: none !important;
}
.link {
  cursor: pointer;
  color: limegreen;
  transition: 0.2s;
}
.link:hover {
  color: greenyellow;
}
.link:active {
  color: darkolivegreen;
}
.selection {
  cursor: pointer;
  color: whitesmoke;
  transition: 0.2s;
}
.selection:hover {
  color: limegreen;
}
.selection:active {
  color: darkolivegreen;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.caption {
  margin-top: 0;
}
@media only screen and (max-width: 800px) {
  .web {
    display: none;
  }
}
@media only screen and (min-width: 801px) {
  .mobile {
    display: none;
  }
}

/*Navigation Bar*/
.nav-bar {
  background: #141414;
  max-width: 896px;
  height: 48px;
  margin: auto;
  margin-top: 32px;
  overflow: hidden;
  border-bottom: 1px solid whitesmoke;
}
.nav-entry {
  transition: 0.2s;
  background: darkslategray;
  float: left;
  width: 16%;
  max-width: 92px;
  padding: 8px 8px;
  margin: 8px 4px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}
.nav-bar a {
  color: whitesmoke
}
.nav-active {
  background: darkolivegreen;
  color: whitesmoke;
  height: 24px;
}
.nav-entry:hover {
  background: darkolivegreen;
}
.nav-active:hover {
  background: whitesmoke;
  color: darkslategray;
}
.nav-extra {
  background: #25355A;
  float: right;
}
.nav-extra:hover {
  background: darkolivegreen;
}
.nav-title {
  background: transparent;
  outline: 1px solid slategray;
  cursor: default;
}
.nav-title:hover {
  background: transparent;
}

/*Dropdown Menu*/
.menu-dropdown {
  color: whitesmoke;
  cursor: default;
}
.dropdown-lab {
  display: none;
  background: darkslategray;
  position: absolute;
  margin: 8px 0 0 -8px;
  cursor: pointer;
}
.dropdown-lab a {
  display: block;
  width: 92px;
  padding: 8px 8px;
  transition: 0.2s;
}
.menu-dropdown:hover .dropdown-lab {
  display: block;
}
.dropdown-lab a:hover {
  background: darkolivegreen;
}
@media only screen and (max-width: 800px) {
  .nav-entry {
    width: 18%;
    padding: 8px 3px;
  }
  .dropdown-lab {
    margin: 8px 0 0 -3px;
  }
  .dropdown-lab a {
    padding: 8px 3px;
  }
}
@media only screen and (max-width: 400px) {
  .nav-entry {
    width: 20%;
    padding: 8px 2px;
  }
}

/*Content Body*/
.entry {
  background: #141414;
  color: whitesmoke;
  max-width: 832px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 8px;
  padding: 32px;
  border: 1px solid gray;
}
@media only screen and (max-width: 427px) {
  .entry {
    margin-top: 24px;
    padding: 16px;
  }
}

/*Profile Picture*/
.container-profile-img {
  float: left;
  margin: 0 24px 32px 0;
}
@media only screen and (max-width: 427px) {
  .container-profile-img {
    float: none;
    margin: auto;
    margin-bottom: 38px;
  }
}
.container-profile-img {
  height: 128px;
  width: 128px;
}
.profile-img {
  background: #0B0E0F;
  outline: 1px solid whitesmoke;
  height: 128px;
}
.profile-img img {
  position: absolute;
  visibility: hidden;
  width: 128px;
  height: 128px;
  opacity: 0;
  transition: 0.35s;
}

/*Profile Picture CSS object selector*/
.btn-pp {
  outline: 1px solid whitesmoke;
  line-height: 24px;
  width: 33.33%;
  float: left;
  text-align: center;
}
.btn-expandable:hover {
  box-shadow: 0 2px;
}
#pp-1:checked ~ div .img-pp-1,
#pp-2:checked ~ div .img-pp-2,
#pp-3:checked ~ div .img-pp-3 {
  visibility: visible;
  opacity: 100;
}
#pp-1:checked ~ label.pp-sel-1,
#pp-2:checked ~ label.pp-sel-2,
#pp-3:checked ~ label.pp-sel-3 {
  color: limegreen;
}
#pp-1:checked ~ label.pp-sel-1:hover,
#pp-2:checked ~ label.pp-sel-2:hover,
#pp-3:checked ~ label.pp-sel-3:hover {
  color: greenyellow;
}

/*Control Panel entry*/
.hidden-section {
  z-index: -100;
  visibility: hidden;
  opacity: 0;
  padding: 0 32px;
  height: 0;
  overflow: auto;
  transition: 0.75s;
}
.nav-control-panel {
  color: whitesmoke;
  margin-top: 8px;
  height: 32px;
  border: none;
}
.ctrl-entry-main {
  display: inline-block;
  padding: 0 16px;
  padding-right: 8px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 8px 0 inset;
  border: 1px solid;
  overflow: auto;
}
.ctrl-entry {
  display: inline-block;
  color: whitesmoke;
  background: darkslategray;
  width: min(25%, 128px);
  height: 32px;
  line-height: 32px;
  text-align: center;
  overflow: auto;
}
.ctrl-entry:hover {
  color: whitesmoke;
  background-color: darkolivegreen;
}
.about-section {
  margin: 0 auto;
  box-shadow: 8px 0 inset gray;
  border-left: none;
}

/*About:Entry*/
#state-about-history:checked ~ .about-history,
#state-about-website:checked ~ .about-website {
  visibility: visible;
  opacity: 100;
  margin-bottom: 64px;
  padding: 32px;
  height: 256px;
}
#state-about-history:checked ~ div .btn-history,
#state-about-website:checked ~ div .btn-website {
  color: whitesmoke;
  background: darkolivegreen;
}
#state-about-history:checked ~ div .btn-history:hover,
#state-about-website:checked ~ div .btn-website:hover {
  color: darkolivegreen;
  background: whitesmoke;
}
@media only screen and (max-width: 427px) {
  .about-section {
    padding: 0 16px;
    box-shadow: 4px 0 inset gray;
  }
  #state-about-history:checked ~ .about-history,
  #state-about-website:checked ~ .about-website {
    padding: 16px;
  }
}

/*Shortcut Slider on bottom left*/
.nav-shortcut {
  z-index: 100;
  position: fixed;
  left: 0;
  bottom: 32px;
  height: 48px;
  margin-left: -232px;
  padding: 8px 24px;
  transition: 0.4s;
}
.nav-shortcut a {
  float: left;
  width: 256px;
  text-align: right;
  line-height: 48px;
  transition: inherit;
}
.nav-shortcut img {
  float: right;
  margin-left: 16px;
  width: 48px;
}
.nav-shortcut:hover {
  margin-left: -76px;
}
.nav-shortcut a:hover {
  background: #141414;
  outline: 1px solid;
}
.nav-shortcut a:active {
  outline: 1px solid;
  transform: 0.2s;
}