body{	
    margin: 0;
	background-color: #0B0E0F;
    font-family: 'Pixel04b03';
    font-size: 16px;
}
a{
    text-decoration: none;
}
a:link{
    color: green;
}
a:visited{
    color: slategray;
}
a:hover{
    color: limegreen;
}
a:active{
    color: peachpuff;
}

/*Top Navbar*/
.nav-top{
    z-index: 10;
    background-color: #141414;
    position: fixed;
    width: 100%;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 2px solid slategray;
}
.nav-top a{
    background-color: lightslategrey;
    color: whitesmoke;
    float: left;
    display: block;
    width: 18%;
    max-width: 7em;
    padding: 0.4em 0.3em;
    margin: 0.4em;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.nav-top a.active{
    background-color: whitesmoke;
    color: lightslategrey;
}
.nav-top a.active:hover{
    background-color: lightskyblue;
}
.nav-top a:hover{
    background-color: lightskyblue;
}
.nav-top a:active{
    background-color: dodgerblue;
}
.nav-top a.title{
    color: whitesmoke;
    background-color: transparent;
    outline: 2px solid slategray;
}
.nav-top a.font{
    background-color: slategray;
    float: right;
}
.nav-top a.font:hover{
    background-color: royalblue;
}

/*Content Body*/
.entry-body{
    width: 90%;
    height: 100%;
    padding: 6em 0 2em 0;
    margin: auto;
}
.entry{
    background-color: #141414;
    color: white;
    max-width: 50em;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em 2em 2em 2em;
    border: 1px solid gray;
}

/*Content CSS*/
.entry .title{
    display: block;
    text-align: center;
    text-decoration: underline;
}
.content{
    display: block;
    float: left;
    height: 128px;
    width: 128px;
    margin: 0 24px 32px 0;
}
.content .image{
    background-color: #0B0E0F;
    border: 1px solid;
    height: 100%;
}
.content .caption{
    background-color: slategray;
    border: 1px solid;
    text-align: center;
}