/* !important is used; if the CSS is loaded, it will unhide the element on the HTML. Doing it this  way because the CSS file is separated
 * Also this is hell. Thank lord for copy-paste and replace function!
 * */
.cursor-preview {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  margin: 8px 0 8px 0;
  overflow: hidden;
}
.cursor-preview-box {
  border: 1px solid gray;
  min-height: 40px;
}
.cursor-preview-box.light{
  background: whitesmoke;
}
.cursor-preview-box div {
  -webkit-user-select: none;
  display: block;
  opacity: 50%;
  margin: 20px;
  text-align: center;
}

/*KOISHI*/
#koishi-default {animation: koishi-default 1s infinite;}
#koishi-wait {animation: koishi-wait 1.5s infinite;}
#koishi-busy {animation: koishi-busy 1.5s infinite;}
#koishi-pointer {animation: koishi-pointer 1.5s infinite;}
@keyframes koishi-default {
  0% {cursor: url("/img/download/cursor/koishi/cur_koishi-default1.png"), auto}
  6.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-default2.png"), auto}
  13.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-default3.png"), auto}
  19% {cursor: url("/img/download/cursor/koishi/cur_koishi-default4.png"), auto}
  25.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-default5.png"), auto}
  33.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-default6.png"), auto}
  40% {cursor: url("/img/download/cursor/koishi/cur_koishi-default7.png"), auto}
  46.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-default8.png"), auto}
  53.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-default9.png"), auto}
  60% {cursor: url("/img/download/cursor/koishi/cur_koishi-default10.png"), auto}
  66.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-default11.png"), auto}
  73.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-default12.png"), auto}
  80% {cursor: url("/img/download/cursor/koishi/cur_koishi-default13.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-default14.png"), auto}
  93.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-default15.png"), auto}
  100% {cursor: url("/img/download/cursor/koishi/cur_koishi-default16.png"), auto}
}
@keyframes koishi-wait {
  0% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait1.png"), auto}
  6.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait2.png"), auto}
  13.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait3.png"), auto}
  19% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait4.png"), auto}
  25.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait5.png"), auto}
  33.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait6.png"), auto}
  40% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait7.png"), auto}
  46.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait8.png"), auto}
  53.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait9.png"), auto}
  60% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait10.png"), auto}
  66.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait11.png"), auto}
  73.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait12.png"), auto}
  80% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait13.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait14.png"), auto}
  93.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait15.png"), auto}
  100% {cursor: url("/img/download/cursor/koishi/cur_koishi-wait16.png"), auto}
}
@keyframes koishi-busy {
  0% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy1.png"), auto}
  6.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy2.png"), auto}
  13.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy3.png"), auto}
  19% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy4.png"), auto}
  25.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy5.png"), auto}
  33.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy6.png"), auto}
  40% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy7.png"), auto}
  46.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy8.png"), auto}
  53.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy9.png"), auto}
  60% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy10.png"), auto}
  66.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy11.png"), auto}
  73.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy12.png"), auto}
  80% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy13.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy14.png"), auto}
  93.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy15.png"), auto}
  100% {cursor: url("/img/download/cursor/koishi/cur_koishi-busy16.png"), auto}
}
@keyframes koishi-pointer {
  0% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer1.png"), auto}
  6.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer2.png"), auto}
  13.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer3.png"), auto}
  19% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer4.png"), auto}
  25.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer5.png"), auto}
  33.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer6.png"), auto}
  40% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer7.png"), auto}
  46.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer8.png"), auto}
  53.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer9.png"), auto}
  60% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer10.png"), auto}
  66.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer11.png"), auto}
  73.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer12.png"), auto}
  80% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer13.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer14.png"), auto}
  93.3% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer15.png"), auto}
  100% {cursor: url("/img/download/cursor/koishi/cur_koishi-pointer16.png"), auto}
}

/*YOUMU*/
#youmu-default {animation: youmu-default 2s infinite;}
#youmu-wait {animation: youmu-wait 2s infinite;}
#youmu-busy {animation: youmu-busy 2s infinite;}
#youmu-pointer {animation: youmu-pointer 2s infinite;}
@keyframes youmu-default {
  0% {cursor: url("/img/download/cursor/youmu/cur_youmu-default1.png"), auto}
  9% {cursor: url("/img/download/cursor/youmu/cur_youmu-default2.png"), auto}
  18% {cursor: url("/img/download/cursor/youmu/cur_youmu-default3.png"), auto}
  27% {cursor: url("/img/download/cursor/youmu/cur_youmu-default4.png"), auto}
  36% {cursor: url("/img/download/cursor/youmu/cur_youmu-default5.png"), auto}
  45% {cursor: url("/img/download/cursor/youmu/cur_youmu-default6.png"), auto}
  54% {cursor: url("/img/download/cursor/youmu/cur_youmu-default7.png"), auto}
  63% {cursor: url("/img/download/cursor/youmu/cur_youmu-default8.png"), auto}
  72% {cursor: url("/img/download/cursor/youmu/cur_youmu-default9.png"), auto}
  81% {cursor: url("/img/download/cursor/youmu/cur_youmu-default10.png"), auto}
  90% {cursor: url("/img/download/cursor/youmu/cur_youmu-default11.png"), auto}
  100% {cursor: url("/img/download/cursor/youmu/cur_youmu-default12.png"), auto}
}
@keyframes youmu-wait {
  0% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait3.png"), auto}
  13% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait6.png"), auto}
  26% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait9.png"), auto}
  39% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait12.png"), auto}
  52% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait15.png"), auto}
  65% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/youmu/cur_youmu-wait18.png"), auto}
  78% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait21.png"), auto}
  91% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait22.png"), auto}
  95% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait23.png"), auto}
  100% {cursor: url("/img/download/cursor/youmu/cur_youmu-wait24.png"), auto}
}
@keyframes youmu-busy {
  0% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy3.png"), auto}
  13% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy6.png"), auto}
  26% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy9.png"), auto}
  39% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy12.png"), auto}
  52% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy15.png"), auto}
  65% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/youmu/cur_youmu-busy18.png"), auto}
  78% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy21.png"), auto}
  91% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy22.png"), auto}
  95% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy23.png"), auto}
  100% {cursor: url("/img/download/cursor/youmu/cur_youmu-busy24.png"), auto}
}
@keyframes youmu-pointer {
  0% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer3.png"), auto}
  13% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer6.png"), auto}
  26% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer9.png"), auto}
  39% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer12.png"), auto}
  52% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer15.png"), auto}
  65% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer18.png"), auto}
  78% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer21.png"), auto}
  91% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer22.png"), auto}
  95% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer23.png"), auto}
  100% {cursor: url("/img/download/cursor/youmu/cur_youmu-pointer24.png"), auto}
}

/*KOAKUMA*/
#koakuma-default {animation: koakuma-default 1.2s infinite;}
#koakuma-wait {animation: koakuma-wait 2s infinite;}
#koakuma-busy {animation: koakuma-busy 2s infinite;}
#koakuma-pointer {animation: koakuma-pointer 2s infinite;}
@keyframes koakuma-default {
  0% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default1.png"), auto}
  9% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default2.png"), auto}
  18% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default3.png"), auto}
  27% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default4.png"), auto}
  36% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default5.png"), auto}
  45% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default6.png"), auto}
  54% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default7.png"), auto}
  63% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default8.png"), auto}
  72% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default9.png"), auto}
  81% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default10.png"), auto}
  90% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default11.png"), auto}
  100% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-default12.png"), auto}
}
@keyframes koakuma-wait {
  0% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait3.png"), auto}
  13% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait6.png"), auto}
  26% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait9.png"), auto}
  39% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait12.png"), auto}
  52% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait15.png"), auto}
  65% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait18.png"), auto}
  78% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait21.png"), auto}
  91% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait22.png"), auto}
  95% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait23.png"), auto}
  100% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-wait24.png"), auto}
}
@keyframes koakuma-busy {
  0% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy3.png"), auto}
  13% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy6.png"), auto}
  26% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy9.png"), auto}
  39% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy12.png"), auto}
  52% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy15.png"), auto}
  65% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy18.png"), auto}
  78% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy21.png"), auto}
  91% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy22.png"), auto}
  95% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy23.png"), auto}
  100% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-busy24.png"), auto}
}
@keyframes koakuma-pointer {
  0% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer1.png"), auto}
  4.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer2.png"), auto}
  8.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer3.png"), auto}
  13% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer4.png"), auto}
  17.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer5.png"), auto}
  21.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer6.png"), auto}
  26% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer7.png"), auto}
  30.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer8.png"), auto}
  34.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer9.png"), auto}
  39% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer10.png"), auto}
  43.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer11.png"), auto}
  47.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer12.png"), auto}
  52% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer13.png"), auto}
  56.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer14.png"), auto}
  60.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer15.png"), auto}
  65% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer16.png"), auto}
  69.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer17.png"), auto}
  73.6 {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer18.png"), auto}
  78% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer19.png"), auto}
  82.3% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer20.png"), auto}
  86.6% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer21.png"), auto}
  91% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer22.png"), auto}
  95% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer23.png"), auto}
  100% {cursor: url("/img/download/cursor/koakuma/cur_koakuma-pointer24.png"), auto}
}