.accordion-base {
  position: relative;
}
.accordion-base > label,
.accordion-base > .sub-nav-entry--title {
  float: left;
}
.accordion-base > .accordion-state:checked ~ .entry--accordion {
  position: absolute;
  visibility: visible;
  transform: translateY(0);
  margin-top: 32px;
  margin-bottom: 200px;
  box-shadow: 0 -8px inset gray;
  transition: box-shadow .25s .5s;
  opacity: 1;
  animation: accordion-tab-transition .5s ease-out;
}
.accordion-state:checked ~ .entry--accordion > * {
  animation: accordion-tab-container-transition .6s ease-in;
}