---
---
/* !important is used; if the CSS is loaded, it will unhide the element on the HTML. Doing it this  way because the CSS file is separated
 * Also this is hell. Thank lord for copy-paste and replace function!
 * */
.cursor-preview {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 8px 0 8px 0;
}
.cursor-preview-box {
  border: 1px solid gray;
  min-height: 40px;
  overflow: hidden;
}
.cursor-preview-box.light{
  background: whitesmoke;
}
.cursor-preview-box div {
  user-select: none;
  -webkit-user-select: none;
  display: block;
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/*KOISHI*/
#koishi-default {animation: Koishi-default 1s infinite;}
#koishi-wait {animation: Koishi-wait 1.5s infinite;}
#koishi-busy {animation: Koishi-busy 1.5s infinite;}
#koishi-pointer {animation: Koishi-pointer 1.5s infinite;}
// Moved to /styles/file-cursor-keyframe.scss

/*YOUMU*/
#youmu-default {animation: Youmu-default 2.5s infinite;}
#youmu-wait {animation: Youmu-wait 2.5s infinite;}
#youmu-busy {animation: Youmu-busy 2.5s infinite;}
#youmu-pointer {animation: Youmu-pointer 5s infinite;}
// Moved to /styles/file-cursor-keyframe.scss

/*KOAKUMA*/
#koakuma-default {animation: Koakuma-default 1.2s infinite;}
#koakuma-wait {animation: Koakuma-wait 2s infinite;}
#koakuma-busy {animation: Koakuma-busy 2s infinite;}
#koakuma-pointer {animation: Koakuma-pointer 2s infinite;}
// Moved to /styles/file-cursor-keyframe.scss