<div>
  <p class="caption">"Status Corner | 27-03-26"</p>
  <p>Lots of commit has been made since the last couple of weeks. A bunch of it is band-aiding past-me's problem but of course I don't slacc enough to make another future-me's problem!</p>
  <p>File page & CSOS would be the biggest addition alongside blog posts. The blog v3 is slowly getting there but I don't think I'll convert past blog with the newest system, too much time for something tha has already been done, hehe. (even though I have the raw .md in Obsidian and a couple of adjustment would do the job but naaaahh)</p>
</div>