<input type="checkbox" id="gal-close_sys" tabindex="-1"> <!-- ! Explanation on gallery page -->
<h2 class="margin title-full">Work Sample</h2>
<div class="gallery-lists gallery-lists--horizontal">
  {% for item in site.data.home-sample %}
  <div class="gallery-list{% if item.size == "full" %} wide-hover{% endif %}" tabindex="-1">
    <div class="gallery-image-wrapper">
      {% if item.link-toggle %}<input type="checkbox" class="gallery-toggle" id="{{ item.id }}_sys">{% endif %}
      <div class="gallery-image-topbar">
        <label for="gal-close_sys" class="gallery-close"></label>
        <div class="gallery-image-link">
          {% if item.link-toggle %}<label for="{{ item.id }}_sys" class="gallery-toggle-button">Loop</label>{% endif %}
          {% if item.link-alt %}<a href="{{ item.link-alt }}" download tabindex="-1">Grab X</a>{% endif %}
          {% if item.link-toggle %}<a href="{{ item.link-toggle }}" download tabindex="-1" class="gallery-image-link__toggle">Grab</a>{% endif %}
          <a href="{{ item.link }}" download tabindex="-1">Grab</a>
        </div>
      </div>
      <div class="gallery-image" tabindex="0">
        {% if item.link-alt %}<img class="gallery-image__alt" {% unless item.no-lazy %}loading="lazy" {% endunless %}src="{{ item.link-alt }}" alt="Alt / Thumbnail - {{ item.name }}">{% endif %}
        <img {% unless item.no-lazy %}loading="lazy" {% endunless %}src="{{ item.link }}" alt="{{ item.name }}"{% if item.ratio %} style="aspect-ratio: {{ item.ratio }}"{% endif %}>
        {% if item.link-toggle %}<img loading="lazy" class="gallery-image__toggle" src="{{ item.link-toggle }}" alt="Loop - {{ item.name }}" {% if item.ratio %} style="aspect-ratio: {{ item.ratio }}"{% endif %}>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>