<div class="font-alternative">
  <p class="caption">"Status Corner | 04-03-26"</p>
  <p>With the blog posts on the horizon, the status corner is no more. At least it won't be used as much. Here to many more text to come! Also I want to make website stamp. The og-image too while I'm at it. The current one is as placeholder as you can get.</p>
  <p>This section will be repurposed as an extended intro message later on. As for the system, I think I'll keep it. I know it's just 1 commit history on this corner but hey, that's 1 too many!</p>
  <p>The plan was to link <a href="https://github.com/Kurover/kurover.github.io/commits/main/_includes/home-status.html">commit history</a> somewhere around here but I'll still slot that in and style it later.</p>

  <p style="text-align: right; font-style: italic; color: var(--clr-text-fade);">Rubik for readability</p>
</div>