<nav class="nav-main">
  <!-- MAIN -->
  <a 
    href="/" class="nav-list nav-list--home
      {% if page.url == "/" %} active{% endif %}" 
    id="nav-home" 
    aria-label="Home Page Button">
    <div class="nav-list__icon"></div>
  </a>
  <a href="/gallery" 
    class="nav-list nav-list--gallery
      {% if page.url == "/gallery.html" %}active{% endif %}" 
    id="nav-gallery" 
    aria-label="Gallery Page Button">
    <div class="nav-list__icon"></div>
  </a>
  <a 
    href="/blog" 
    class="nav-list nav-list--blog desktop-only
      {% if page.og-type == "blog" %}active{% endif %}" 
    id="nav-blog" 
    aria-label="Blog Page Button">
    <div class="nav-list__icon"></div>
  </a>
  <a 
    href="/file" 
    class="nav-list nav-list--file desktop-only
      {% if page.url == "/file.html" %} active{% endif %}" 
    id="nav-download"
    aria-label="File Page Button">
    <div class="nav-list__icon"></div>
  </a>
  <!-- ? More -->
  <div class="nav-list-expandable mobile-only">
    <div 
      class="nav-list nav-list--more nav-list-expandable__toggle  
        {% if page.nav-more %}active{% endif %}"
      id="nav-more"
      aria-label="Expand Navigation Menu Button"
      tabindex="0"
      >
      <div class="nav-list__icon"></div>
      <!-- * Expand Lists -->
      <div class="nav-list-expandable__content">
        <a 
          href="/blog" 
          class="nav-list nav-list--blog
            {% if page.og-type == "blog" %}active{% endif %}" 
          id="nav-blog-expand" 
          aria-label="Blog Page Button">
          <div class="nav-list__icon"></div>
        </a>
        <a 
          href="/file" 
          class="nav-list nav-list--file
            {% if page.url == "/file.html" %}active{% endif %}" 
          id="nav-download-expand" 
          aria-label="File Page Button">
          <div class="nav-list__icon"></div>
        </a>
      </div>
    </div>
    <div class="nav-list-expandable__state"></div> <!-- To deactivate the expand above when clicked again, for mobile mainly -->
  </div>
  <!-- ? EXTRA -->
  <div class="nav-list-expandable float-right">
    <div 
    class="nav-list nav-list--contact nav-list--toggleable more-link-popups" 
    id="nav-contact"
    aria-label="Extra Link Menu Dropdown Button"
    tabindex="0"
    >
      <div class="nav-list__icon"></div>
      <div class="more-link-popup" style="cursor: default;">
        <div class="contact-lists contact-lists--navigation">
          <a href="/v2" class="contact-list contact--old"> <div class="contact-icon"></div> Old </a>
          <a href="/lab" class="contact-list contact--lab"> <div class="contact-icon"></div> Lab </a>
          <hr>
          <div class="contact-list contact-list--alt contact--bluesky" tabindex="-1">
            <a href="https://bsky.app/profile/zanster.bsky.social" target="_blank"> <div class="contact-icon"></div> Bluesky </a>
            <br><span class="contact-list-tooltip">@zanster.bsky.social</span>
          </div>
          <div class="contact-list contact-list--alt contact--discord" tabindex="-1">
            <a href="https://discord.com/users/721010644756856883" target="_blank"> <div class="contact-icon"></div> Discord </a>
            <br><span class="contact-list-tooltip">kurover_zan</span>
          </div>
          <a href="https://github.com/Kurover/kurover.github.io" target="_blank" class="contact-list contact--github"> <div class="contact-icon"></div> Github </a>
          <div class="contact-list contact-list--alt contact--mail" tabindex="-1">
            <a href="mailto:kuroverzan@gmail.com" target="_blank"> <div class="contact-icon"></div> E-Mail </a>
            <br><span class="contact-list-tooltip">kuroverzan@gmail.com</span>
          </div>
          <div class="contact-list contact-list--alt contact--twitter" tabindex="-1">
            <a href="https://twitter.com/Cloverift" target="_blank"> <div class="contact-icon"></div> Twitter </a>
            <br><span class="contact-list-tooltip">@Cloverift</span>
          </div>
        </div>
        <hr style="border: 1px solid var(--clr-border);">
        <p style="float: left; margin: 0; color: var(--clr-text-dim)">Font <a href="http://04.jp.org" target="_blank">04.jp.org</a></p>
        <p style="float: right; margin: 0; color: var(--clr-text-fade);">Meow!</p>
      </div>  
    </div>
    <div class="nav-list-expandable__state"></div>
  </div>
</nav>