<nav class="nav-bar">
  <div class="nav-entry nav-entry--title"> Zan.site </div>
  <a class="nav-entry{% if page.url == "/v2/" %} nav-entry--active{% endif %}" href="/v2/">Home</a>
  <a class="nav-entry{% if page.url == "/v2/gallery.html" %} nav-entry--active{% endif %}" href="/v2/gallery">Gallery</a>
  <a class="nav-entry{% if page.og-type == "blog" %} nav-entry--active{% endif %} web-only" href="/v2/blog">Blog</a>
  <a class="nav-entry{% if page.url == "/v2/download.html" %} nav-entry--active{% endif %} web-only" href="/v2/download">Files</a>
  <div class="nav-entry nav-dropdown-button{% if page.nav-more == "applicable" %} nav-entry--active{% endif %} mobile-only" tabindex="0">
    More
    <div class="nav-dropdown-container">
      <a class="nav-dropdown-entry{% if page.og-type == "blog" %} nav-dropdown-entry--active{% endif %}" href="/v2/blog">Blog</a>
      <a class="nav-dropdown-entry{% if page.og-type == "download" %} nav-dropdown-entry--active{% endif %}" href="/v2/download">Files</a>
    </div>
  </div>
  <div class="nav-entry nav-entry--right entry-linkthree-parent" tabindex="0">
    <span class="no-select">Links</span>
    <!--Linkthree Start Here-->
    <div class="entry-linkthree entry-linkthree--embed" style="cursor: default;">
      <div class="linkthree-profile">
        <p class="notice" style="margin: 0; font-size: 32px;">Links!</p>
        <p style="margin: 8px 0">"Any resemblance to other websites are purely coincidental."</p>
      </div>
      <div class="linkthree-link"><a href="/" class="text">Return to New Site</a></div>
      <div class="linkthree-link"><a href="/v2/404" class="text">404 Page</a></div>
      <div class="linkthree-link"><a href="https://twitter.com/Cloverift" class="text">Twitter</a></div>
      <div class="linkthree-link"><a href="https://misskey.io/@zan@rkgk.moe" class="text">Misskey</a></div>
      <div class="linkthree-link"><a href="https://github.com/Kurover/kurover.github.io" class="text">Github Repo</a></div>
      <div class="linkthree-link"><div class="text"><span style="cursor: text">kurover_zan</span></div></div>
      <p style="color: gray"><a href="http://04.jp.org">Font</a></p>
    </div>
  </div>
  <!--Links close button-->
  <div class="entry-linkthree-embed-control" tabindex="0"></div>
</nav>