---
---
// ? This module has toggleable tabs without input & label!
// Mostly hacks within hacks but hey
// Naming might be whack and inconsistent, that's because this is contained and honestly, I don't care

// A preloader for hundreds of images... yeah not sure if that's a good idea.
// .file-cursor-preload::after {
//   content:
//   url(}
//   ;
// }

.cursor-option {
	display: none;
}
.cursor-preview-master {
	display: block;
	padding: 4px;
	box-sizing: border-box;
	border: 4px solid var(--clr-border);
}
.cursor-selectors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.cursor-selector {
	--state-main: block;
	--state-overlay: none;
	--border-active: 0 0 0 2px var(--clr-text);
}
.btn-cursor {
	cursor: pointer;
	display: var(--state-main); // set above
	margin: .25rem;
	line-height: 32px;
	text-align: center;
	background-color: var(--clr-secondary);
}
.btn-cursor.overlay {
	display: var(--state-overlay);
	background-color: var(--clr-background);
}
.cursor-test-field {
	position: relative;
	box-sizing: border-box;
	margin-top: 1rem;
	// margin-bottom: 1rem;
	height: 420px;
	padding: 1rem;
	image-rendering: pixelated;
	// background-image: url(/img/gallery/touhou_grassroot3__px.gif); set below
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cursor-test-field-boxes {
	display: flex;
	height: 100%;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	--clr-textbox: transparent;
	--clr-box-bg: rgba(0, 0, 0, 0.15);
	color: var(--clr-textbox);
	gap: 2rem;
	& > * {
    overflow: hidden;
		background-color: var(--clr-box-bg);
		height: 70%;
    flex: 1;
		text-align: center;
		font-size: 1.5rem;
		padding-top: 1rem;
		user-select: none;
	}
}
.btn-cursor-download {
	display: none;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background-color: var(--clr-btn-download);
	padding: 1rem;
	width: fit-content;
	box-shadow: -4px 0 0 0 var(--clr-link);
	color: var(--clr-text);
	line-height: 1.5rem;
	font-size: 1.5rem;
	text-decoration: none;
	&:hover {
		background-color: var(--clr-btn-download-hover);
		color: var(--clr-text);
	}
	&.none {
		cursor: default;
		color: var(--clr-text-fade);
		background-color: var(--clr-background);
		box-shadow: none;
	}
}


// CSS State Styling
// I forgor that this is pain, peko.
.cursor-preview-master:has(> #cursor-bg-option-1:checked) > .cursor-test-field {background-image: url(/img/gallery/touhou_grassroot3__px.gif);}
.cursor-preview-master:has(> #cursor-bg-option-2:checked) > .cursor-test-field {background-image: url(/img/gallery/touhou_trio18__px.png);}
.cursor-preview-master:has(> #cursor-bg-option-3:checked) > .cursor-test-field {background-image: url(/img/gallery/oc_clover2__hd.webp); image-rendering: auto;}
#cursor-bg-option-1:checked ~ .cursor-selectors.background > .btn-bg-cursor-1 {
	background-color: var(--clr-background);
	box-shadow: var(--border-active);
}
#cursor-bg-option-2:checked ~ .cursor-selectors.background > .btn-bg-cursor-2 {
	background-color: var(--clr-background);
	box-shadow: var(--border-active);
}
#cursor-bg-option-3:checked ~ .cursor-selectors.background > .btn-bg-cursor-3 {
	background-color: var(--clr-background);
	box-shadow: var(--border-active);
}

#cursor-option-none:checked ~ .cursor-test-field {
	& > .cursor-test-field-boxes {
		--clr-textbox: var(--clr-text);
		--clr-box-bg: rgba(0, 0, 0, 0.7);
	}
	& .none {
		display: block;
	}
}
#cursor-option-koakuma:checked {
	&  ~ .cursor-selectors > .btn-cursor-koakuma {
		--state-main: none;
		--state-overlay: block;
		& > .overlay {box-shadow: var(--border-active);}
	}
	& ~ .cursor-test-field .koakuma {
		display: block;
	}
}
#cursor-option-koishi:checked {
	&  ~ .cursor-selectors > .btn-cursor-koishi {
		--state-main: none;
		--state-overlay: block;
		& > .overlay {box-shadow: var(--border-active);}
	}
	& ~ .cursor-test-field .koishi {
		display: block;
	}
}
#cursor-option-youmu:checked {
	& ~ .cursor-selectors > .btn-cursor-youmu {
		--state-main: none;
		--state-overlay: block;
		& > .overlay {box-shadow: var(--border-active);}
	}
	& ~ .cursor-test-field .youmu {
		display: block;
	}
}



// Property memory
// Currently only for keeping it visible when clicked. Not really useful in our case because IDK how to make the CSS variable persist with other interaction with this method
//.cursor-preview:is(:active, :focus-within) {
//  visibility: visible;
//}
// Add this inside object in .cursor-preview, make sure it has tabindex
// .cursor-persistence {
//   display: none;
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   &:is(:active, :focus-within) {
//     display: block; 
//   }
// }

// ? Identifier data
// trigger this on .cursor-test-field
// animating cursor means it has inherent :hover property
.cursor-obj-default {animation: var(--cursor-default) infinite;}
.cursor-obj-wait {animation: var(--cursor-wait) infinite;}
.cursor-obj-busy {animation: var(--cursor-busy) infinite;}
.cursor-obj-pointer {animation: var(--cursor-pointer) infinite;}

// ! Template
// .cursor-preview-master:has(> .cursor-toggle > #cursor-option-IDENTIFIER:checked) > .cursor-test-field {
//   --cursor-default: IDENTIFIER-default 1s;
//   --cursor-wait: IDENTIFIER-wait 1s;
//   --cursor-busy: IDENTIFIER-busy 1s;
//   --cursor-pointer: IDENTIFIER-pointer 1s;
// }

// @title Master Settings
#cursor-option-koakuma:checked ~ .cursor-test-field {
  --cursor-default: koakuma-default 1.2s;
  --cursor-wait: koakuma-wait 2s;
  --cursor-busy: koakuma-busy 2s;
  --cursor-pointer: koakuma-pointer 2s;
}
#cursor-option-koishi:checked ~ .cursor-test-field {
  --cursor-default: koishi-default 1s;
  --cursor-wait: koishi-wait 1.5s;
  --cursor-busy: koishi-busy 1.5s;
  --cursor-pointer: koishi-pointer 1.5s;
}
#cursor-option-youmu:checked ~ .cursor-test-field {
  --cursor-default: youmu-default 2.5s;
  --cursor-wait: youmu-wait 2.5s;
  --cursor-busy: youmu-busy 2.5s;
  --cursor-pointer: youmu-pointer 5s;
}

// @title Koakuma
@keyframes koakuma-default {
  0% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default1.png"), auto}
  9% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default2.png"), auto}
  18% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default3.png"), auto}
  27% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default4.png"), auto}
  36% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default5.png"), auto}
  45% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default6.png"), auto}
  54% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default7.png"), auto}
  63% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default8.png"), auto}
  72% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default9.png"), auto}
  81% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default10.png"), auto}
  90% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default11.png"), auto}
  100% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-default12.png"), auto}
}
@keyframes koakuma-wait {
  0% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait3.png"), auto}
  13% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait6.png"), auto}
  26% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait9.png"), auto}
  39% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait12.png"), auto}
  52% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait15.png"), auto}
  65% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait18.png"), auto}
  78% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait21.png"), auto}
  91% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait22.png"), auto}
  95% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait23.png"), auto}
  100% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-wait24.png"), auto}
}
@keyframes koakuma-busy {
  0% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy3.png"), auto}
  13% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy6.png"), auto}
  26% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy9.png"), auto}
  39% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy12.png"), auto}
  52% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy15.png"), auto}
  65% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy18.png"), auto}
  78% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy21.png"), auto}
  91% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy22.png"), auto}
  95% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy23.png"), auto}
  100% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-busy24.png"), auto}
}
@keyframes koakuma-pointer {
  0% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer3.png"), auto}
  13% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer6.png"), auto}
  26% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer9.png"), auto}
  39% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer12.png"), auto}
  52% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer15.png"), auto}
  65% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer18.png"), auto}
  78% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer21.png"), auto}
  91% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer22.png"), auto}
  95% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer23.png"), auto}
  100% {cursor: url("/img/file/cursor/koakuma/cur_koakuma-pointer24.png"), auto}
}

// @title Koishi
@keyframes koishi-default {
  0% {cursor: url("/img/file/cursor/koishi/cur_koishi-default1.png"), auto}
  6.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-default2.png"), auto}
  13.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-default3.png"), auto}
  19% {cursor: url("/img/file/cursor/koishi/cur_koishi-default4.png"), auto}
  25.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-default5.png"), auto}
  33.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-default6.png"), auto}
  40% {cursor: url("/img/file/cursor/koishi/cur_koishi-default7.png"), auto}
  46.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-default8.png"), auto}
  53.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-default9.png"), auto}
  60% {cursor: url("/img/file/cursor/koishi/cur_koishi-default10.png"), auto}
  66.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-default11.png"), auto}
  73.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-default12.png"), auto}
  80% {cursor: url("/img/file/cursor/koishi/cur_koishi-default13.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-default14.png"), auto}
  93.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-default15.png"), auto}
  100% {cursor: url("/img/file/cursor/koishi/cur_koishi-default16.png"), auto}
}
@keyframes koishi-wait {
  0% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait1.png"), auto}
  6.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait2.png"), auto}
  13.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait3.png"), auto}
  19% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait4.png"), auto}
  25.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait5.png"), auto}
  33.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait6.png"), auto}
  40% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait7.png"), auto}
  46.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait8.png"), auto}
  53.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait9.png"), auto}
  60% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait10.png"), auto}
  66.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait11.png"), auto}
  73.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait12.png"), auto}
  80% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait13.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait14.png"), auto}
  93.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait15.png"), auto}
  100% {cursor: url("/img/file/cursor/koishi/cur_koishi-wait16.png"), auto}
}
@keyframes koishi-busy {
  0% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy1.png"), auto}
  6.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy2.png"), auto}
  13.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy3.png"), auto}
  19% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy4.png"), auto}
  25.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy5.png"), auto}
  33.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy6.png"), auto}
  40% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy7.png"), auto}
  46.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy8.png"), auto}
  53.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy9.png"), auto}
  60% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy10.png"), auto}
  66.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy11.png"), auto}
  73.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy12.png"), auto}
  80% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy13.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy14.png"), auto}
  93.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy15.png"), auto}
  100% {cursor: url("/img/file/cursor/koishi/cur_koishi-busy16.png"), auto}
}
@keyframes koishi-pointer {
  0% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer1.png"), auto}
  6.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer2.png"), auto}
  13.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer3.png"), auto}
  19% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer4.png"), auto}
  25.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer5.png"), auto}
  33.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer6.png"), auto}
  40% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer7.png"), auto}
  46.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer8.png"), auto}
  53.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer9.png"), auto}
  60% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer10.png"), auto}
  66.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer11.png"), auto}
  73.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer12.png"), auto}
  80% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer13.png"), auto}
  86.6% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer14.png"), auto}
  93.3% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer15.png"), auto}
  100% {cursor: url("/img/file/cursor/koishi/cur_koishi-pointer16.png"), auto}
}

// @title Youmu
@keyframes youmu-default {
  0% {cursor: url("/img/file/cursor/youmu/cur_youmu-default1.png"), auto}
  9% {cursor: url("/img/file/cursor/youmu/cur_youmu-default2.png"), auto}
  18% {cursor: url("/img/file/cursor/youmu/cur_youmu-default3.png"), auto}
  27% {cursor: url("/img/file/cursor/youmu/cur_youmu-default4.png"), auto}
  36% {cursor: url("/img/file/cursor/youmu/cur_youmu-default5.png"), auto}
  45% {cursor: url("/img/file/cursor/youmu/cur_youmu-default6.png"), auto}
  54% {cursor: url("/img/file/cursor/youmu/cur_youmu-default7.png"), auto}
  63% {cursor: url("/img/file/cursor/youmu/cur_youmu-default8.png"), auto}
  72% {cursor: url("/img/file/cursor/youmu/cur_youmu-default9.png"), auto}
  81% {cursor: url("/img/file/cursor/youmu/cur_youmu-default10.png"), auto}
  90% {cursor: url("/img/file/cursor/youmu/cur_youmu-default11.png"), auto}
  100% {cursor: url("/img/file/cursor/youmu/cur_youmu-default12.png"), auto}
}
@keyframes youmu-wait {
  0% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait3.png"), auto}
  13% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait6.png"), auto}
  26% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait9.png"), auto}
  39% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait12.png"), auto}
  52% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait15.png"), auto}
  65% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait18.png"), auto}
  78% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait21.png"), auto}
  91% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait22.png"), auto}
  95% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait23.png"), auto}
  100% {cursor: url("/img/file/cursor/youmu/cur_youmu-wait24.png"), auto}
}
@keyframes youmu-busy {
  0% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy3.png"), auto}
  13% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy6.png"), auto}
  26% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy9.png"), auto}
  39% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy12.png"), auto}
  52% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy15.png"), auto}
  65% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy18.png"), auto}
  78% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy21.png"), auto}
  91% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy22.png"), auto}
  95% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy23.png"), auto}
  100% {cursor: url("/img/file/cursor/youmu/cur_youmu-busy24.png"), auto}
}
@keyframes youmu-pointer {
  0% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer1.png"), auto}
  4.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer2.png"), auto}
  8.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer3.png"), auto}
  13% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer4.png"), auto}
  17.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer5.png"), auto}
  21.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer6.png"), auto}
  26% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer7.png"), auto}
  30.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer8.png"), auto}
  34.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer9.png"), auto}
  39% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer10.png"), auto}
  43.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer11.png"), auto}
  47.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer12.png"), auto}
  52% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer13.png"), auto}
  56.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer14.png"), auto}
  60.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer15.png"), auto}
  65% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer16.png"), auto}
  69.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer17.png"), auto}
  73.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer18.png"), auto}
  78% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer19.png"), auto}
  82.3% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer20.png"), auto}
  86.6% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer21.png"), auto}
  91% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer22.png"), auto}
  95% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer23.png"), auto}
  100% {cursor: url("/img/file/cursor/youmu/cur_youmu-pointer24.png"), auto}
}