---
---
/*Aneurysm simulator*/

/*
Templates for future use

To calculate the frame percent;
  frame = (100 / n - 1)
We substract by 1 because we also count the 0%

example, we want to animate 20 frames, so:
  frame = (100 / 20 - 1)
  frame = (100 / 19)
  frame = 5.26%
Insert 0% as the first frame, 5.26% and so on until 100%.
It doesn't have to be perfect, rounding it to 5% is fine. The last frame might lag a bit.

@keyframes template-16f {
  0% {}
  6.6% {}
  13.3% {}
  19% {}
  25.6% {}
  33.3% {}
  40% {}
  46.6% {}
  53.3% {}
  60% {}
  66.6% {}
  73.3% {}
  80% {}
  86.6% {}
  93.3% {}
  100% {}
}
@keyframes template-12f {
  0% {}
  9% {}
  18% {}
  27% {}
  36% {}
  45% {}
  54% {}
  63% {}
  72% {}
  81% {}
  90% {}
  100% {}
}
@keyframes template-24f {
  0% {}
  4.3% {}
  8.6% {}
  13% {}
  17.3% {}
  21.6% {}
  26% {}
  30.3% {}
  34.6% {}
  39% {}
  43.3% {}
  47.6% {}
  52% {}
  56.3% {}
  60.6% {}
  65% {}
  69.3% {}
  73.6% {}
  78% {}
  82.3% {}
  86.6% {}
  91% {}
  95% {}
  100% {}
}
*/

/*Divs*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cursor-box {
  border: 1px solid gray;
  height: 80px;
  margin: 1rem
}

/*Boxes*/
.cur1 {animation: Koishi-default 1s infinite;}
.cur2 {animation: Koishi-wait 1.5s infinite;}
.cur3 {animation: Koishi-busy 1.5s infinite;}
.cur4 {animation: Koishi-pointer 1.5s infinite;}

/*Keyframe*/
// Moved to /styles/file-cursor-keyframe.scss