---
---
/*
Hello world {}
 */

:root {
  // --sprite-position-x: 1;
  // --sprite-position-y: 1;
  // --sprite-size: 48px;
  --sprite24-path: url(/img/icon-pack24__px.png);
  --sprite48-path: url(/img/icon-pack48__px.png);

  --sprite-position: calc(var(--sprite-position-x) * -48px + 48px) calc(var(--sprite-position-y) * -48px + 48px);
  // Must be defined in the container or else the variable is unreadable
  // Maybe better to just have special class for these

  // Nahh just redefine background-position each time, easier this way. Re-applying .atlas on every tags that uses it is just tailwind gaming :puke-emoji:
}

.atlas {
  --sprite-size: 48px;
  --sprite-position-x: 1;
  --sprite-position-y: 1;
  --sprite24-path: url(/img/icon-pack24__px.png);
  --sprite48-path: url(/img/icon-pack48__px.png);
  --sprite-position: calc(var(--sprite-position-x) * (var(--sprite-size) * -1) + var(--sprite-size)) calc(var(--sprite-position-y) * (var(--sprite-size) * -1) + var(--sprite-size));
}

.container-test {
  float: left;
  margin-right: 1rem;
  height: 64px;
  width: 64px;
  background-color: var(--clr-background);
  background-position: var(--sprite-position);
  &.small {
    --sprite-size: 24px;
    background-position: var(--sprite-position);
    background-image: var(--sprite24-path);
    height: 24px;
    width: 24px;
  }
  &.large {
    background-image: var(--sprite48-path);
    height: 48px;
    width: 48px;
  }
  &.too-large {
    background-image: var(--sprite48-path);
  }
}