---
---
/*
 * Hi there, welcome to jank!
 * The "+" sign will apply a CSS ONLY AFTER the X to Y
 * The "~" sign will apply ALL CSS AFTER the X to Y
 * Try changing the combinator to see the result.
 */

  /*FIRST ENTRY*/
.orangebox{
  background: darkorange;
  width: 120px;
  height: 40px;
  margin: 8px;
}
.hidden-content-1{
  display: none;
  color: darkorange;
}
.orangebox:hover ~ .hidden-content-1 {
  display:block;
}

  /* SECOND ENTRY*/
.hidden-content-2 {
  display: none;
  color: skyblue;
}
#content-lever:checked ~ .hidden-content-2 {
  display: block;
}

  /*THIRD ENTRY*/
.btn-radio-sel{
  height: 30px;
  width: 33%;
  float: left;
  margin: auto;
  transition: 0.2s;
}

.btn-1{background: darkgray;}
.btn-2{background: slategray;}
.btn-3{background: darkslategray;}
.text-box-1{display:none}
.text-box-2{display:none}
.text-box-3{display:none}

#switchA:checked ~ div .text-box-1 {display: block}
#switchB:checked ~ div .text-box-2 {display: block}
#switchC:checked ~ div .text-box-3 {display: block}
#switchA:checked ~ div .btn-1{background: lavender;box-shadow: 0 4px}
#switchB:checked ~ .btn-2{background: lavender;box-shadow: 0 4px}
#switchC:checked ~ .btn-3{background: lavender;box-shadow: 0 4px}

  /* switchC will not work because the <INPUT> element is inside previous container. */
  /* Code below can use #switchA too. The current one is for demonstration.*/

.switchA-class:checked ~ div .btn-1 p{outline: 3px solid crimson}
.switchC-class:checked ~ div .btn-3 p{outline: 3px solid crimson}

  /* Hmmm */
.orangebox:hover ~ .hidden-content-11{display:block; color: crimson}
.switchA-class:checked ~ div .hidden-content-11 p{display: inline-block}