---
---
// @section @Main
.home-menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  // max-width: 512px;
  padding: 1rem 0;
  gap: 4px;
  margin: auto;
  // margin-top: 8ch;
  & a {
    display: block;
    text-decoration: none;
    color: crimson;
  }
  & label {
    display: block;
    cursor: pointer;
  }
}
.home-menu-container {
  display: flex;
  flex: 1;
  width: 100%;
  // gap: 8px;
  // height: 72ch;
  padding: 0 1rem;
  height: calc(100dvh - 48px); // Compensate border top
  box-sizing: border-box;
  overflow: scroll;
  background-color: palegoldenrod;
}
.home-menu-separator {
  flex: .65;
  background-color: yellowgreen;
}
.home-menu-list {
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  line-height: 128px;
  max-width: 256px;
  color: black;
  flex: 1;
  height: 128px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: peachpuff;
}
.home-menu-list--free {
  height: auto;
  max-width: calc((256px * 2) + 4px ); // list width times 2, plus gap. Border not incl
}
.home-menu__gallery {
  margin: auto;
}
.home-menu__sample,
.home-menu__sample-toggle {
  margin: auto;
  font-size: 2rem;
  line-height: 64px;
  background-color: peru;
}
.home-menu__sample-toggle > [data-index="2"] {
  display: none;
}
.home-menu__sample {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px 4px;
  padding: 0 8px;

  overflow: scroll;
  height: 0;
  visibility: hidden;
  transition: height .5s, visibility .5s;
}
.home-menu__sample-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex: 1;
  overflow: hidden;
  cursor: default;

  opacity: 0;
  transition: background .5s, opacity .5s;
  &.full {
    flex: 100%;
    height: auto;
  }
  & > img {
    background-color: var(--clr-secondary);
  }
  &:first-of-type {margin-top: 1rem;}
  &:last-of-type {margin-bottom: 1rem;}

} // These components are modified .gallery-list
#sample-expandable_sys:checked {
  & + .home-menu__sample {
    visibility: visible;
    height: 50dvh;
    & > * {
      opacity: 1;
    }
  }
  & ~ .home-menu__sample-toggle {
    & > [data-index="1"] {
      display: none;
    }
    & > [data-index="2"] {
      display: block;
    }
  }
}

// @section # IllithText
// .home-illith {
//   flex: .75;
//   box-sizing: border-box;
//   margin: auto;
//   margin-bottom: 0;
//   background-color: plum;
// }
.home-illith {
  z-index: 2;
  // pointer-events: none;
  // position: absolute;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  // bottom: 0;
  // width: 45dvw;
  // height: 100%;
  background-color: #5f5f5fa1;
  // & > * {
  //   z-index: 1;
  // }
}

.ill-container {
  display: flex;
  // flex-direction: column;
  flex: .95;
  background-color: #00000038;
}

.home-illith__textbox {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  // min-width: 420px;
  margin-top: auto;
  height: 24ch;
  padding: 32px;
  box-sizing: border-box;
  background-color: gray;
}
.home-illith__textbox-content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  font-size: 1.5rem;
  overflow: hidden;
  gap: 1rem;
  padding: 8px 1rem;
  height: 100%;
  border-image: url(/img/border-2.png) 4 / 18px / 1rem;
  background-color: slategray;
  animation: profile-transition-1 .5s;
}
.home-illith__textbox-content::before,
.home-illith__textbox-content::after {
  content: "Hello";
  text-align: center;
  flex: 100%;
}

#comment-1_sys:checked ~ [class$="content"] {
  &::before {content: "This is the"}
  &::after {content: "First Paragraph"}
}
#comment-2_sys:checked ~ [class$="content"] {
  &::before {content: "What about that thing"}
  &::after {content: "You mentioned ages ago?"}
}

.home-bottom-bg-separator {
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: -120px;
  background-color: green;
}
.home-bottom-bg-endless {
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: -240px;
  background-color: paleturquoise;
}

// @section @Media
@media (max-width: 768px) {
  .home-content {
    flex-direction: column-reverse;
    height: 100dvh;
  }
  .home-bar {
    display: none;
  }
  .home-illith {
    // position: unset;
    width: 100%;
    flex: 0;
    // bottom: -24ch;
    background: none;
    pointer-events: none;
  }
  .ill-container {
    flex: 1;
  }
  .home-illith__textbox {
    margin: auto;
    min-width: unset;
  }
  .home-menu {
    margin-top: 1rem;
  }
  .home-menu-separator {
    flex: 0; // pretty much display none
  }
  .home-menu-container {
    height: calc(100dvh - 24ch);
    flex-wrap: wrap;
    align-content: flex-start;
  }
  // .home-menu__sample {
  //   max-height: 40dvh;
  // }
}