---
layout: default
---
<main>
  <section class="wrapper blog-post" id="main">
    <nav class="blog-post-index-container">
      <div class="blog-post-index">
        {% assign blog-posts = site.blog | where: "groups", "blog-post" %}
        {% for post in blog-posts reversed %}
        <li>
          <a href="{{ post.url }}" {% if page.url == post.url %}class="active"{% endif %}>{{ post.title }}</a>
        </li>
        {% endfor %}
      </div>
    </nav>
    <div class="top-right-note">{% if page.modified-at %}Edit: {{ page.modified-at }} |{% endif %}</div>
    {{ content }}
  </section>
  <div class="wrapper no-padding">
    <div class="blog-return-button">
      <a href="/blog" class="button button--underline">&lt; Return</a>
    </div>
  </div>
</main>
