---
layout: default
---
<main>
  <section class="wrapper blog-post">
    <nav class="blog-post-index-container">
      <div class="blog-post-index">
        {% assign blog-posts = site.blog | where: "groups", "blog-post" %}
        {% for post in blog-posts reversed %}
        <li>
          <a href="{{ post.url }}" {% if page.url == post.url %}class="active"{% endif %}>{{ post.title }}</a>
        </li>
        {% endfor %}
      </div>
    </nav>
    <div class="top-right-note" id="main">{% if page.modified-at %}Edit: {{ page.modified-at }} |{% endif %} Title: {{ page.title }}</div>
    {{ content }}
  </section>
  <div class="blog-post-footer-navigations">
    {% if page.previous.groups == "blog-post" %}
    <div class="blog-post-footer-navigation previous">
      <a href="{{ page.previous.url }}">Prev.</a>
      <span class="blog-nav-tooltip">{{ page.previous.title }}</span>
    </div>
    {% endif %}
    {% if page.next.groups == "blog-post" %}
    <div class="blog-post-footer-navigation next">
      <a href="{{ page.next.url }}">Next</a>
      <span class="blog-nav-tooltip">{{ page.next.title }}</span>
    </div>
    {% endif %}
  </div>
</main>
