---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab | {{ page.name }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    {%- unless page.legacy -%}<link rel="stylesheet" href="/styles.css">{%- endunless -%}
    {%- if page.legacy -%}<link rel="stylesheet" href="/v2/style.css">{%- endif -%}
    <link rel="stylesheet" href="/font.css">
    {%- unless page.no-css -%}<link rel="stylesheet" href="css/{{ page.slug }}.css">{%- endunless -%}
    <link rel="stylesheet" href="/lab/css/floating-nav.css">
  </head>
  <body>
    {{ content }}
    <a href="{% if page.name == 'Hub' %}/{% else %}/lab{% endif %}" class="nav-lab-float">
      <div class="nav-lab-float__icon"></div>
      <div class="nav-lab-float__tooltip">Go Back</div>
    </a>
  </body>
</html>