---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab | {{ page.name }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    {%- unless page.legacy -%}<link rel="stylesheet" href="/styles.css">{%- endunless -%}
    {%- if page.legacy -%}<link rel="stylesheet" href="/v2/style.css">{%- endif -%}
    <link rel="stylesheet" href="/font.css">
    {%- unless page.no-css -%}<link rel="stylesheet" href="{{ page.slug }}.css">{%- endunless -%}
  </head>
  <body>
    {{ content }}
  </body>
</html>