---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:site_name" content="Zanster Website">
    <meta property="og:title" content="{{ page.og-title }}">
    <meta property="og:type" content="{{ page.og-type }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://raw.githubusercontent.com/Kurover/resources/main/img/open_graph.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="https://kurover.github.io">
    <meta property="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ page.og-title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Kurover/resources/main/img/open_graph.png">
    <meta name="theme-color" content="#72984e">
    <meta name="msapplication-TileColor" content="#72984e">
    <link rel="apple-touch-icon" sizes="180x180" href="/styles/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/styles/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/styles/favicon-16x16.png">
    <link rel="manifest" href="/styles/site.webmanifest">
    <link rel="mask-icon" href="/styles/safari-pinned-tab.svg" color="#72984e">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/v2/style.css">
    <link rel="stylesheet" href="/font.css">
    {% if page.url == "/v2/download.html" %}<link rel="stylesheet" href="/styles/cursor-preview.css">{% endif %}
  </head>
  <body>
    <!-- Keyboard Nav Skip -->
    <a class="jump-to-main" href="#top"></a>
    {% if page.url == "/v2/" %}<div class="notice-accessibility"><p class="no-margin">Notice:<br>To navigate sub-tab. (Contact, Sample, etc.), Tab-key navigate until the button is highlighted. Use the arrow key to switch tabs. TAB to unlock scrolling (if on Chromium, you can use ESC).</p><p>Jank I know, but hey it works!</p></div>{% endif %}
    <!-- No CSS Warning-->
    <div class="hidden">Hi there, this website requires CSS to be read comfortably, thanks.</div>
    <!-- Reading mode Warning-->
    <p class="hidden">Hey, if you're on reading mode, do note that some text will be missing and hidden elements like tooltip preview will be shown or even overlap while reading. Never mind that, reading mode experience is garbage for this site, sorry!</p>
    {% include navigation-version-2.html %}
    {{ content }}
  </body>
</html>