---
---
// Separating this because configuring liquid-scss lint in vscode was NOT worth it

// ! ============== CURSOR
{% for cursor-lists in site.data.file.cursor.list %}
{% assign cursor = cursor-lists[1] %}
#CSOS-cursor-state-{{ cursor.name }}:checked ~ .CSOS-container {
  {% if cursor.speed-default %}   --cursor-default  : {{ cursor.name }}-default   {{ cursor.speed-default }}; {% endif %}
  {% if cursor.speed-wait %}      --cursor-wait     : {{ cursor.name }}-wait      {{ cursor.speed-wait }}; {% endif %}
  {% if cursor.speed-busy %}      --cursor-busy     : {{ cursor.name }}-busy      {{ cursor.speed-busy }}; {% endif %}
  {% if cursor.speed-pointer %}   --cursor-pointer  : {{ cursor.name }}-pointer   {{ cursor.speed-pointer }}; {% endif %}
  {% if cursor.speed-move %}      --cursor-move     : {{ cursor.name }}-move      {{ cursor.speed-move }}; {% endif %}
  {% if cursor.speed-resize %}    --cursor-resize   : {{ cursor.name }}-resize    {{ cursor.speed-resize }}; {% endif %}
}
#CSOS-cursor-state-{{ cursor.name }}:checked ~ .CSOS-container #CSOS-div-cursor-{{ cursor.name }} {
  background: var(--bg-button-active);
  border-color: var(--button-border-active);
  box-shadow: var(--button-outline-active);
}
#CSOS-cursor-state-default:checked ~ .CSOS-container #CSOS-div-cursor-default {
  background: var(--bg-button-active);
  border-color: var(--button-border-active);
  box-shadow: var(--button-outline-active);
}
{% endfor %}

// ! =============== ORB
{% for orb-lists in site.data.file.orb.list %}
{% assign orb = orb-lists[1] %}
#CSOS-orb-state-{{ orb.name }}:checked ~ .CSOS-container {
  {% if orb.name %}             --orb-name            : {{ orb.name }}; {% endif %}
  {% if orb.size %}             --orb-size            : {{ orb.size }}; {% endif %}
  {% if orb.align-bottom %}     --orb-align-bottom    : {{ orb.align-bottom }}; {% endif %}
  {% if orb.preview %}          --orb-preview         : {{ orb.preview }}; {% endif %}
  {% if orb.link %}             --orb-link            : {{ orb.link }}; {% endif %}
  {% if orb.link-openshell %}   --orb-link-openshell  : {{ orb.link-openshell }}; {% endif %}
  {% if orb.link-generic %}     --orb-link-generic    : {{ orb.link-generic }}; {% endif %}
  {% if orb.basic %}            --orb-active-y-coordinate: 2; {% endif %}
}
#CSOS-orb-state-{{ orb.name }}:checked ~ .CSOS-container #CSOS-div-orb-{{ orb.name }} {
  background: var(--bg-button-active);
  border-color: var(--button-border-active);
  box-shadow: var(--button-outline-active);
}
{% endfor %}

{% for bg in site.data.file.background.list %}
#{{ bg.id }}:checked ~ .CSOS-container {
  --background-image: url({{ bg.link }});
  & > .CSOS-canvas > .CSOS-start-menu > .CSOS-start-bg > .bg-selector > .{{ bg.class }} {
    box-shadow: var(--img-shadow);
    --img-filter: unset;
  }
}
{% endfor %}
{% for bg in site.data.file.background.config %}
#{{ bg.id }}:checked ~ .CSOS-container {
  --background-{{ bg.type }}: {{ bg.data }};
  & > .CSOS-canvas > .CSOS-start-menu > .CSOS-start-bg > .controller [for="{{ bg.id }}"] {
    --clr-control: var(--clr-accent-green);
  }
}
{% endfor %}