---
layout: lab
name: Cursor Simulator
alias: CSS - Cursor Simulator
custom-css: /styles/file-cursor.css
---
<section class="wrapper border">
  <p>Main takeaway from this is, it's so annoying that you technically shouldn't put div inside label. Thankfully span is allowed so we'll do with that</p>
</section>

<!-- @main ____ CSOS MAIN -->
<section class="wrapper wrapper--CSOS CSOS-root">
  
  <!-- * Core States -->
  <input type="checkbox" id="CSOS-start-menu-state" checked>

  <!-- * Orb States -->
  <!-- <input type="radio" name="CSOS-current-orb" class="CSOS-orb-basic" tabindex="-1" id="CSOS-orb-state-default"> -->
  {% for orb-lists in site.data.file.orb.list %}
  {% assign orb = orb-lists[1] %}
  <input type="radio" name="CSOS-current-orb" {% if orb.basic %}class="CSOS-orb-basic"{% endif %}tabindex="-1" id="CSOS-orb-state-{{ orb.name }}" {% if orb.default %}checked{% endif %}>
  {% endfor %}

  <!-- * Cursor States -->
  <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-default" checked>
  {% for cursor-lists in site.data.file.cursor.list %}
  {% assign cursor = cursor-lists[1] %}
  <input type="radio" name="CSOS-current-cursor" tabindex="-1" id="CSOS-cursor-state-{{ cursor.name }}">
  {% endfor %}

  <!-- * BG States -->

  <!-- * Window States -->
  <input type="checkbox" id="CSOS-win-v-busycorner" checked>

  <!-- ! MAIN CONTENT -->
  <div class="CSOS-container">
    <!-- @section . Desktop/canvas -->
    <div class="CSOS-canvas">
      <p>lorem</p>
      <p>lorem</p>
      <p>lorem</p>
      <p>lorem</p>
      <p>lorem</p>

      <div class="CSOS-window" id="CSOS-win-busycorner">
        <div class="CSOS-win-topbar">
          <div class="CSOS-win-topbar--title">Busy Corner</div>
          <label for="CSOS-win-v-busycorner" class="CSOS-win-topbar--button minimize"></label>
          <div class="CSOS-win-topbar--button maximize dim"></div>
          <div class="CSOS-win-topbar--button close dim"></div>
        </div>

        <div class="CSOS-cursor-contents">
          <p>lorem 1</p>
          <p>lorem 2</p>
          <p>lorem 3</p>
        </div>
      </div>

      <div class="CSOS-resizable" style="--scrollbar-size:180px;">
        <div class="CSOS-resizable-anchor" style="overflow: clip;">
          <div class="CSOS-resizable-content" style="width: 244px; left: -32px; top: -32px;">
            <img src="/img/file/rumia-alt__px.gif" class="decor" alt="">
          </div>
        </div>
        <div class="CSOS-resizable-controller" style="width: 9999px; height: 9999px;"></div>

        <div class="CSOS-resizable-dummy"></div>
        <div class="CSOS-resizable-dummy"></div>
      </div>

      <div class="CSOS-start-menu">
        
        <input type="radio" name="CSOS-start-menu-select" class="invisible" tabindex="-1" id="CSOS-start-content-0" checked>
        <input type="radio" name="CSOS-start-menu-select" class="invisible" tabindex="-1" id="CSOS-start-content-1">
        <input type="radio" name="CSOS-start-menu-select" class="invisible" tabindex="-1" id="CSOS-start-content-2">
        <input type="radio" name="CSOS-start-menu-select" class="invisible" tabindex="-1" id="CSOS-start-content-3">
        
        <!-- ? Controller -->
        <div class="CSOS-start-menu-menus">
          <div class="CSOS-start-menu-menu" id="start-select-orb">
            <label for="CSOS-start-content-1"><span>Orb Select</span></label>
          </div>
          <div class="CSOS-start-menu-menu" id="start-select-cursor">
            <label for="CSOS-start-content-2"><span>Cursor Select</span></label>
          </div>
          <div class="CSOS-start-menu-menu" id="start-select-bg">
            <label for="CSOS-start-content-3"><span>Background Select</span></label>
          </div>
        </div>

        <!-- ? @section . . Start Menu Content -->
        <div class="CSOS-start-menu-content CSOS-start-home">
          <div class="CSOS-start-menu-content--title center"><span>&gt; CSOS &lt;</span></div>
          <p>Welcome to the Cascading Style Operating System or CSOS for short! Its feature is as terrible as you might expect but it's very servicable as long as you have a mouse pointer to navigate the sandbox.</p>
          <p>Non-Chromium/webkit user will have a feature locked, which is larger draggable Rumia hitbox. If you are such user, try sneaking your cursor to the bottom left of the element!</p>
        </div>
        <!-- ? ORB -->
        <div class="CSOS-start-menu-content CSOS-start-orb">
          <div class="CSOS-start-menu-content--title">
            <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
            <span>-ORB-</span>
          </div>
          {% for orb-lists in site.data.file.orb.list %}
          {% assign orb = orb-lists[1] %}
          <div class="CSOS-start-orb-button" id="CSOS-div-orb-{{ orb.name }}">
            <label for="CSOS-orb-state-{{ orb.name }}" class="CSOS-start-orb-list">{{ orb.name }}</label>
            {% if orb.preview %}
            <div class="CSOS-start-orb-preview">
              <img src="{{ orb.preview }}" alt="" loading="lazy">
            </div>
            {% endif %}
            {% if orb.link-generic %}
            <div class="CSOS-start-orb-download generic">
              <a href="{{ orb.link-generic }}" download>LINK</a>
            </div>
            {% endif %}
            {% if orb.link-openshell %}
            <div class="CSOS-start-orb-download openshell">
              <a href="{{ orb.link-openshell }}" download>LINK</a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          <p>ORB ORB ORB</p>
        </div>
        <!-- ? CURSOR -->
        <div class="CSOS-start-menu-content CSOS-start-cursor">
          <div class="CSOS-start-menu-content--title">
            <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
            <span>Change Cursor</span>
          </div>
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-default"><label for="CSOS-cursor-state-default" class="CSOS-start-cursor-list">@default</label></div>
            {% for cursor-lists in site.data.file.cursor.list %}
            {% assign cursor = cursor-lists[1] %}
            <div class="CSOS-start-cursor-button" id="CSOS-div-cursor-{{ cursor.name }}">
              <label for="CSOS-cursor-state-{{ cursor.name }}" class="CSOS-start-cursor-list">{% if cursor.icon %}<img src="{{ cursor.icon }}">{% endif %}{{ cursor.name }}<span>{{ cursor.rating }}</span></label>
              {% if cursor.preview %}
              <div class="CSOS-start-cursor-preview">
                <img src="{{ cursor.preview }}" alt="" loading="lazy">
              </div>
              {% endif %}
              {% if cursor.link-github %}
              <div class="CSOS-start-cursor-download">
                <a href="{{ cursor.link-github }}">LINK</a>
              </div>
              {% endif %}
            </div>
            {% endfor %}
            <div class="CSOS-start-cursor-button"><label for="CSOS-cursor-state-0" class="CSOS-start-cursor-list">PLACEHOLDER</label></div>
            <div class="CSOS-start-cursor-button"><label for="CSOS-cursor-state-0" class="CSOS-start-cursor-list">PLACEHOLDER</label></div>
            <div class="CSOS-start-cursor-button"><label for="CSOS-cursor-state-0" class="CSOS-start-cursor-list">PLACEHOLDER</label></div>
            <div class="CSOS-start-cursor-button"><label for="CSOS-cursor-state-0" class="CSOS-start-cursor-list">PLACEHOLDER</label></div>
            <div class="CSOS-start-cursor-button"><label for="CSOS-cursor-state-0" class="CSOS-start-cursor-list">PLACEHOLDER</label></div>
        </div>
        <!-- ? BG -->
        <div class="CSOS-start-menu-content CSOS-start-bg">
          <div class="CSOS-start-menu-content--title">
            <label for="CSOS-start-content-0" class="CSOS-start-menu-menu-return"></label>
            <span>Change Background</span>
          </div>
          <p>Under construction! (aka wip unless worked otherwise) since it's a fluff and time-waster of a content, very cool!</p>
        </div>

      </div>
    </div>
    <!-- @section . Taskbar -->
    <div class="CSOS-taskbar">
      <label for="CSOS-start-menu-state" class="CSOS-start-menu-bar">
        <div class="CSOS-start-orb-bar"></div>
        <div class="CSOS-start-orb-bar active"></div>
      </label>
      <label for="CSOS-win-v-busycorner" class="CSOS-window-bar">Busy Corner</label>
      <div class="CSOS-start-time-bar"><span>xx:xx</span></div>
    </div>
  </div>
</section>

<hr><br>

<!-- @main ____ CSOSold -->
<section class="wrapper wrapper--CSOSold CSOSold-root" tabindex="-1">
  <h2>Scrapped Design</h2>
  <p class="mobile-only">Mobile breakpoint</p>
  <input type="checkbox" class="mobile-only" tabindex="-1" id="CSOSold-mobile">
  <label for="CSOSold-mobile" class="CSOSold-mobile-toggle mobile-only">CLICK TO SHOW ANYWAY</label>

  <br>
  <br>

  <!-- ! What is the current cursor selection -->
  <input type="radio" name="cursor-state" tabindex="-1" id="CSOSold-cursor-none" checked>
  {% for cursor-lists in site.data.file.cursor.list %}
    {% assign cursor = cursor-lists[1] %}
    <input type="radio" name="cursor-state" tabindex="-1" id="CSOSold-cursor-{{ cursor.name }}">
  {% endfor %}

  <!-- ! Taskbar state and window controller -->
  <input type="checkbox" tabindex="-1" id="CSOSold-cursor-window-state" checked>
  <input type="checkbox" tabindex="-1" id="CSOSold-orb-window-state">
  
  <input type="checkbox" tabindex="-1" id="CSOSold-cursor-window-visibility" checked>
  <input type="checkbox" tabindex="-1" id="CSOSold-orb-window-visibility" checked>

  <div class="CSOSold-container">

    <section class="CSOSold-canvas">

      <section class="CSOSold-desktop">
        <p>the more I develop this, the worse the UX gets lol. I'm switching my approach to "put all the egg in a basket" mentality instead T.T</p>

        <!-- grab a single entry -->
        <p>test {{site.data.file.cursor.list.koishi.link-dropbox}}</p>
        
        <!-- indexing example -->
        {% for content in site.data.file.cursor.list %}
        {% assign cursor = content[1] %}
          <p>{{ cursor }}</p>
        {% endfor %}

      </section>

      <!-- @section . Window Content -->
       
      <!-- * Cursor Selector -->
      <section class="CSOSold-window" id="CSOSold-cursor-window">
        <!-- invisible border for cursor, couldn't contain it inside div or else it draws itself in front of the container since it's absolute -->
        <!-- not sure if I keep this or not as it just for visual and might be confusing -->
        <div class="CSOSold-win-border top"></div>
        <div class="CSOSold-win-border right"></div>
        <div class="CSOSold-win-border bottom"></div>
        <div class="CSOSold-win-border left"></div>
        <div class="CSOSold-win-border nw"></div>
        <div class="CSOSold-win-border ne"></div>
        <div class="CSOSold-win-border sw"></div>
        <div class="CSOSold-win-border se"></div>

        <!-- topbar thing, will shift the rest of the content -->
        <div class="CSOSold-win-topbar">
          <div class="CSOSold-win-topbar--title">Super Cursor Selector 900000000000000000000</div>
          <label for="CSOSold-cursor-window-visibility" class="CSOSold-win-topbar--button minimize"></label>
          <div class="CSOSold-win-topbar--button maximize dim"></div>
          <div class="CSOSold-win-topbar--button close dim"></div>
        </div>

        <div class="CSOSold-cursor-contents">
          <label for="CSOSold-cursor-none" class="CSOSold-cursor-content">Your default cursor</label>
          {% for cursor-lists in site.data.file.cursor.list %}
            {% assign cursor = cursor-lists[1] %}
            <label for="CSOSold-cursor-{{ cursor.name }}" class="CSOSold-cursor-content">{{ cursor.name }}</label>
          {% endfor %}
        </div>
      </section>      

      <!-- * Start ~ORB~ Selector -->

      <section class="CSOSold-window" id="CSOSold-orb-window">
        <div class="CSOSold-win-topbar">
          <div class="CSOSold-win-topbar--title">**ORB**</div>
          <label for="CSOSold-orb-window-visibility" class="CSOSold-win-topbar--button minimize"></label>
          <div class="CSOSold-win-topbar--button maximize dim"></div>
          <div class="CSOSold-win-topbar--button close dim"></div>
        </div>

        <div class="CSOSold-orb-contents">
          lorem

        </div>
      </section>

      <!-- * Background Selector? -->

      <section class="CSOSold-background-window"></section>

    </section>
    
    <!-- * Taskbar and window handler -->
    <section class="CSOSold-taskbar">
      <!-- * Start Menu, menu -->
      <div class="CSOSold-start-menu-bar">
        <div class="CSOSold-start-menus">
          <div class="item1"></div>
          <div class="item2"></div>
          <div class="item3"></div>
        </div>
      </div>

      <label for="CSOSold-cursor-window-visibility" class="CSOSold-window-bar" tabindex="-1"></label>
      <label for="CSOSold-orb-window-visibility" class="CSOSold-window-bar" tabindex="-1"></label>
    </section>
  </div>
</section>

<!-- ! @misc . draggable fail -->
<section class="wrapper wrapper--CSOSold CSOSold-root" tabindex="-1">
  <div class="CSOSold-container" style="display: grid;">
    <section class="CSOSold-canvas">
      <p style="color: white">Super duper cool draggable window version that SUCK!! (drag the "O")</p>
      <p style="color: white">The resizable window eats up spaces behind it so it's a nono</p>
      <p style="color: white">Update: found the solution but hella jank. Usable but ain't gonna depend on it.</p>

      <section class="CSOSold-resizable">
        <div class="CSOSold-resizable-anchor">
          O
          <div class="CSOSold-resizable-content">
            <div class="CSOSold-window" tabindex="-1" style="top:unset;right:unset;bottom:unset;left:unset;">

              <div class="CSOSold-win-topbar">
                <div class="CSOSold-win-topbar--title">Super Draggable Selector</div>
                <div class="CSOSold-win-topbar--button minimize dim"></div>
                <div class="CSOSold-win-topbar--button maximize dim"></div>
                <div class="CSOSold-win-topbar--button close dim"></div>
              </div>

              <div class="CSOSold-cursor-contents">
                <p>lorem 1</p>
                <p>lorem 2</p>
                <p>lorem 3</p>
              </div>
            </div>
          </div>
        </div>

        <div class="CSOSold-resizable-controller" tabindex="-1"></div>
        <div class="CSOSold-resizable-dummy first"></div>
        <div class="CSOSold-resizable-dummy second"></div>
      </section>
    </section>

    
    <section class="CSOSold-taskbar">
      <div class="CSOSold-start-menu-bar">
        <div class="CSOSold-start-menus">
        </div>
      </div>
    </section>
  </div>
</section>

<hr><br>

<section class="wrapper cursor-preview-master">
  <h2 class="title-full title-full--no-bg">Cursor</h2>
  <p class="caption center">"Backup of old draft version"</p>
  <div class="separator"></div>
  
  <!-- Disable tab nav with 'tabindex -1'. I mean keyboard only ain't using cursor, right? -->
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-none" checked>
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-koakuma">
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-koishi">
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-youmu">
  
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-1" checked>
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-2">
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-3">

  <div class="cursor-selectors">
    <div class="cursor-selector btn-cursor-koakuma">
      <label class="btn-cursor main" for="cursor-option-koakuma">Koakuma</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Koakuma</label>
    </div>
    <div class="cursor-selector btn-cursor-koishi">
      <label class="btn-cursor main" for="cursor-option-koishi">Koishi</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Koishi</label>
    </div>
    <div class="cursor-selector btn-cursor-youmu">
      <label class="btn-cursor main" for="cursor-option-youmu">Youmu</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Youmu</label>
    </div>
  </div>

  <div class="cursor-selectors background">
    <label for="cursor-bg-option-1" class="cursor-selector btn-cursor btn-bg-cursor-1">BG 1</label>
    <label for="cursor-bg-option-2" class="cursor-selector btn-cursor btn-bg-cursor-2">BG 2</label>
    <label for="cursor-bg-option-3" class="cursor-selector btn-cursor btn-bg-cursor-3">BG 3</label>
  </div>

  <div class="cursor-test-field cursor-obj-default">
    <div class="cursor-test-field-boxes">
      <div class="cursor-obj-wait">WAIT</div>
      <div class="cursor-obj-busy">BUSY</div>
      <div class="cursor-obj-pointer">POINTER</div>
    </div>
    <div class="cursor-obj-download">
      <div class="btn-cursor-download none">Download</div>
      <a href="/file/cursor/Koakuma Cursor v0.1c.zip" class="cursor-obj-pointer btn-cursor-download koakuma">Download</a>
      <a href="/file/cursor/Koishi Cursor v0.1.zip" class="cursor-obj-pointer btn-cursor-download koishi">Download</a>
      <a href="/file/cursor/Youmu Cursor v0.1.zip" class="cursor-obj-pointer btn-cursor-download youmu">Download</a>
    </div>
  </div>
</section>
