---
layout: lab
name: Cursor Simulator
alias: CSS - Cursor Simulator
---
<section class="wrapper border">
  <p>Bwoah!</p>
</section>

<section class="wrapper CSOS-root">
  <p class="mobile-only">Mobile breakpoint</p>
  <input type="checkbox" class="mobile-only" tabindex="-1" id="CSOS-mobile">
  <label for="CSOS-mobile" class="CSOS-mobile-toggle mobile-only">CLICK TO SHOW ANYWAY</label>

  <br>
  <br>

  <!-- What is the current cursor selection -->
  <input type="radio" name="cursor-state" tabindex="-1" id="CSOS-cursor-none" checked>
  {% for cursor-lists in site.data.file.cursor.list %}
    {% assign cursor = cursor-lists[1] %}
    <input type="radio" name="cursor-state" tabindex="-1" id="CSOS-cursor-{{ cursor.name }}">
  {% endfor %}

  <div class="CSOS-container">

    <!-- Taskbar state -->
    <input type="checkbox" tabindex="-1" id="CSOS-start-menu-state">
    <input type="checkbox" tabindex="-1" id="CSOS-cursor-window-state" checked>

    <br>

    <p>spanactual content here</p>

    <!-- grab a single entry -->
    <p>test {{site.data.file.cursor.list.koishi.link-dropbox}}</p>
    
    <!-- indexing example -->
    {% for content in site.data.file.cursor.list %}
    {% assign cursor = content[1] %}
      <p>{{ cursor }}</p>
    {% endfor %}

    <div class="CSOS-cursor-window">

      <!-- invisible border for cursor, couldn't contain it inside div or else it draws itself in front of the container since it's absolute -->
      <div class="CSOS-win-border top"></div>
      <div class="CSOS-win-border right"></div>
      <div class="CSOS-win-border bottom"></div>
      <div class="CSOS-win-border left"></div>
      <div class="CSOS-win-border nw"></div>
      <div class="CSOS-win-border ne"></div>
      <div class="CSOS-win-border sw"></div>
      <div class="CSOS-win-border se"></div>

      <!-- topbar thing, will shift the rest of the content -->
      <div class="CSOS-win-topbar">
        <div class="CSOS-win-topbar--title">Super Cursor Selector 900000000000000000000</div>
        <label for="CSOS-cursor-window-state" class="CSOS-win-topbar--button minimize"></label>
        <div class="CSOS-win-topbar--button maximize dim"></div>
        <div class="CSOS-win-topbar--button close dim"></div>
      </div>
      <div class="CSOS-cursor-contents">
        <label for="CSOS-cursor-none" class="CSOS-cursor-content">Your default cursor</label>
        {% for cursor-lists in site.data.file.cursor.list %}
          {% assign cursor = cursor-lists[1] %}
          <label for="CSOS-cursor-{{ cursor.name }}" class="CSOS-cursor-content">{{ cursor.name }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="CSOS-taskbar">
      <label for="CSOS-start-menu-state" class="CSOS-start-menu"></label>
      <label for="CSOS-cursor-window-state" class="CSOS-cursor-window-bar"></label>
    </div>
  </div>
</section>

<section class="wrapper cursor-preview-master">
  <h2 class="title-full title-full--no-bg">Cursor</h2>
  <p class="caption center">"Backup of old draft version"</p>
  <div class="separator"></div>
  
  <!-- Disable tab nav with 'tabindex -1'. I mean keyboard only ain't using cursor, right? -->
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-none" checked>
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-koakuma">
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-koishi">
  <input type="radio" name="cursor-options" class="cursor-option" tabindex="-1" id="cursor-option-youmu">
  
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-1" checked>
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-2">
  <input type="radio" name="background-options" class="cursor-option" tabindex="-1" id="cursor-bg-option-3">

  <div class="cursor-selectors">
    <div class="cursor-selector btn-cursor-koakuma">
      <label class="btn-cursor main" for="cursor-option-koakuma">Koakuma</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Koakuma</label>
    </div>
    <div class="cursor-selector btn-cursor-koishi">
      <label class="btn-cursor main" for="cursor-option-koishi">Koishi</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Koishi</label>
    </div>
    <div class="cursor-selector btn-cursor-youmu">
      <label class="btn-cursor main" for="cursor-option-youmu">Youmu</label>
      <label class="btn-cursor overlay" for="cursor-option-none">Youmu</label>
    </div>
  </div>

  <div class="cursor-selectors background">
    <label for="cursor-bg-option-1" class="cursor-selector btn-cursor btn-bg-cursor-1">BG 1</label>
    <label for="cursor-bg-option-2" class="cursor-selector btn-cursor btn-bg-cursor-2">BG 2</label>
    <label for="cursor-bg-option-3" class="cursor-selector btn-cursor btn-bg-cursor-3">BG 3</label>
  </div>

  <div class="cursor-test-field cursor-obj-default">
    <div class="cursor-test-field-boxes">
      <div class="cursor-obj-wait">WAIT</div>
      <div class="cursor-obj-busy">BUSY</div>
      <div class="cursor-obj-pointer">POINTER</div>
    </div>
    <div class="cursor-obj-download">
      <div class="btn-cursor-download none">Download</div>
      <a href="/file/cursor/Koakuma Cursor v0.1c.zip" class="cursor-obj-pointer btn-cursor-download koakuma">Download</a>
      <a href="/file/cursor/Koishi Cursor v0.1.zip" class="cursor-obj-pointer btn-cursor-download koishi">Download</a>
      <a href="/file/cursor/Youmu Cursor v0.1.zip" class="cursor-obj-pointer btn-cursor-download youmu">Download</a>
    </div>
  </div>
</section>
