---
layout: lab
name: Navigation Link Popup
alias: CSS - Navigation Link Popup
---

<div class="wrapper border">
  <h2>The Button</h2>
  This is the default one, albeit stripped from its original might
  <div class="nav-list-expandable float-right">
    <button 
    class="nav-list nav-list--contact nav-list-toggleable entry-linkthree-parent" 
    id="nav-contact"
    aria-label="Contact Menu Dropdown Button"
    >
      <div class="nav-list__icon"></div>
      <!-- * Linkthree Start Here -->
      <div class="entry-linkthree entry-linkthree--embed" style="cursor: default;">
        <div class="linkthree-profile">
          <p class="notice" style="margin: 0; font-size: 32px;">Links!</p>
          <p style="margin: 8px 0">"It ain't much yet, it will be much more later."</p>
          <p style="margin: 8px 0">This section is WIP</p>
        </div>
        <div class="linkthree-link"><a href="/v2/" class="text">Old Page</a></div>
        <div class="linkthree-link"><a href="/lab/" class="text">Tests Page</a></div>
        <div class="separator large"></div>
        <div class="linkthree-link"><a target="_blank" href="https://twitter.com/Cloverift" class="text">Twitter</a></div>
        <div class="linkthree-link"><a target="_blank" href="https://misskey.io/@zan@rkgk.moe" class="text">Misskey</a></div>
        <div class="linkthree-link"><a target="_blank" href="https://github.com/Kurover/kurover.github.io" class="text">Github Repo</a></div>
        <!-- <div class="linkthree-link"><div class="text"><span style="cursor: text">kurover_zan</span></div></div> -->
        <p style="color: gray"><a target="_blank" href="http://04.jp.org">Font</a></p>
      </div>  
    </button>
    <div class="nav-list-expandable__state"></div>
  </div>
</div>

<div class="wrapper border">
  <h2>Mod 1</h2>
  -
  <div class="nav-list-expandable float-right">
    <button 
    class="nav-list nav-list--contact nav-list-toggleable more-link-popups" 
    id="nav-contact"
    aria-label="Extra Link Menu Dropdown Button"
    >
      <div class="nav-list__icon"></div>
      <div class="more-link-popup" style="cursor: default;">
        <div class="contact-lists">
          <a href="/v2" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Old Site (v2) </a>
          <a href="/lab" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Lab Page </a>
        </div>
        <hr style="border: 1px solid var(--clr-border);">
        <div class="contact-lists">
          <a href="mailto:kuroverzan@gmail.com" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Mail </a>
          <a href="https://twitter.com/Cloverift" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Twitter </a>
          <a href="https://misskey.io/@zan@rkgk.moe" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Misskey </a>
          <a href="https://github.com/Kurover/kurover.github.io" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Github </a>
        </div>
      </div>  
    </button>
    <div class="nav-list-expandable__state"></div>
  </div>
</div>

<p>Copy of navigation</p>
<nav class="nav-main">
  <!-- ? More -->
  <div class="nav-list-expandable">
    <button 
      class="nav-list nav-list--more nav-list-expandable__toggle  
        {% if page.nav-more %}active{% endif %}"
      id="nav-more"
      aria-label="Expand Navigation Menu Button">
      <div class="nav-list__icon"></div>
      <!-- * Expand Lists -->
      <div class="nav-list-expandable__content">
        <a 
          href="/blog" 
          class="nav-list nav-list--blog
            {% if page.og-type == "blog" %}active{% endif %}" 
          id="nav-blog-expand" 
          aria-label="Blog Page Button">
          <div class="nav-list__icon"></div>
        </a>
        <a 
          href="/file" 
          class="nav-list nav-list--file
            {% if page.url == "/file.html" %}active{% endif %}" 
          id="nav-download-expand" 
          aria-label="File Page Button">
          <div class="nav-list__icon"></div>
        </a>
      </div>
    </button>
    <div class="nav-list-expandable__state"></div> <!-- To deactivate the expand above when clicked again, for mobile mainly -->
  </div>
  <!-- ? EXTRA -->
  <div class="nav-list-expandable float-right">
    <button 
    class="nav-list nav-list--contact nav-list-toggleable more-link-popups" 
    id="nav-contact"
    aria-label="Extra Link Menu Dropdown Button"
    >
      <div class="nav-list__icon"></div>
      <div class="more-link-popup" style="cursor: default;">
        <div class="contact-lists">
          <a href="/" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Old Site (v2) </a>
          <a href="/" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Lab Page </a>
        </div>
        <hr>
        <div class="contact-lists">
          <a href="mailto:kuroverzan@gmail.com" class="contact-list"> <img src="/favicon.png" class="contact-icon" alt=""> Mail </a>
          <a href="https://twitter.com/Cloverift" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Twitter </a>
          <a href="https://misskey.io/@zan@rkgk.moe" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Misskey </a>
          <a href="https://github.com/Kurover/kurover.github.io" class="contact-list"> <img src="/img/illith.png" class="contact-icon" alt=""> Github </a>
        </div>
      </div>  
    </button>
    <div class="nav-list-expandable__state"></div>
  </div>
</nav>